/*
---------------------------------------------------------------
  Note that styles you apply to the main menu items are inherited by the sub menus items too.
  If you'd like to avoid this, you could use child selectors (not supported by IE6) - for example:
  .sm-subsilver2 > li > a { ... } instead of .sm-subsilver2 a { ... }
---------------------------------------------------------------*/


/* Menu box
===================*/

	.sm-subsilver2,
	.sm-subsilver2 ul {
		border:1px solid #A9B8C2;
		background:#ECECEC;
		-moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);
		-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
		box-shadow:0 1px 1px rgba(0,0,0,0.2);
	}


/* Menu items
===================*/

	.sm-subsilver2 a {
		padding:11px 20px;
		color:#006597;
		font-size:1.0em;
		line-height:1.2em;
		font-family:'Lucida Sans Unicode','Lucida Sans','Lucida Grande',Arial,sans-serif;
		text-decoration:none;
	}
	.sm-subsilver2 a:hover, .sm-subsilver2 a:focus, .sm-subsilver2 a:active,
	.sm-subsilver2 a.highlighted {
		background:#DCE1E5;
		color:#006597;
	}
	/* current items - add the class manually to some item or check the "markCurrentItem" script option */
	.sm-subsilver2 a.current, .sm-subsilver2 a.current:hover, .sm-subsilver2 a.current:focus, .sm-subsilver2 a.current:active {
		background:#DCE1E5;
		color:#ECECEC;
	}
	.sm-subsilver2 a.has-submenu {
		padding-right:32px;
	}
 	.sm-subsilver2 ul a.has-submenu,
	.sm-subsilver2-vertical a.has-submenu {
		padding-right:23px;
	}


/* Sub menu indicators
===================*/

	.sm-subsilver2 a span.sub-arrow {
		position:absolute;
		right:12px;
		top:50%;
		margin-top:-8px;
		width:16px;
		height:16px;
		line-height:1.1em;
	}
 	.sm-subsilver2 ul a span.sub-arrow,
	.sm-subsilver2-vertical a span.sub-arrow {
		right:auto;
		margin-left:-14px;
	}


/* Items separators
===================*/

	.sm-subsilver2 li {
		border-left:1px solid #f3f3f3;
	}
	.sm-subsilver2 li:first-child {
		border-left:0;
	}
	.sm-subsilver2 ul li,
	.sm-subsilver2-vertical li {
		border-left:0;
		border-top:1px solid #f3f3f3;
	}
	.sm-subsilver2 ul li:first-child,
	.sm-subsilver2-vertical li:first-child {
		border-top:0;
	}


/* Scrolling arrows containers for tall sub menus - test sub menu: "Sub test" -> "more..." -> "more..." in the default download package
===================*/

	.sm-subsilver2 span.scroll-up, .sm-subsilver2 span.scroll-down {
		position:absolute;
		display:none;
		visibility:hidden;
		overflow:hidden;
		border:solid #A9B8C2;
		border-width:1px 0;
		background:#ECECEC;
		height:20px;
		/* width and position will be automatically set by the script */
	}
	.sm-subsilver2 span.scroll-up-arrow, .sm-subsilver2 span.scroll-down-arrow {
		position:absolute;
		top:-2px;
		left:50%;
		margin-left:-8px;
		/* we will use one-side border to create a triangle so that we don't use a real background image, of course, you can use a real image if you like too */
		width:0;
		height:0;
		overflow:hidden;
		border-width:8px; /* tweak size of the arrow */
		border-style:dashed dashed solid dashed;
		border-color:transparent transparent #006597 transparent;
	}
	.sm-subsilver2 span.scroll-down-arrow {
		top:6px;
		border-style:solid dashed dashed dashed;
		border-color:#006597 transparent transparent transparent;
	}


/*
---------------------------------------------------------------
  Responsiveness
  These will make the sub menus collapsible when the screen width is too small.
---------------------------------------------------------------*/


@media screen and (max-width: 640px) {

	/* The following will make the sub menus collapsible for small screen devices (it's not recommended editing these) */
	ul.sm-subsilver2{width:auto !important;}
	ul.sm-subsilver2 ul{display:none;position:static !important;top:auto !important;left:auto !important;margin-left:0 !important;margin-top:0 !important;width:auto !important;min-width:0 !important;max-width:none !important;}
	ul.sm-subsilver2>li{float:none;}
	ul.sm-subsilver2>li>a,ul.sm-subsilver2 ul.sm-nowrap>li>a{white-space:normal;}
	ul.sm-subsilver2 iframe{display:none;}

	/* Uncomment this rule to disable completely the sub menus for small screen devices */
	/*.sm-subsilver2 ul, .sm-subsilver2 span.sub-arrow, .sm-subsilver2 iframe {
		display:none !important;
	}*/


/* Menu box
===================*/

	.sm-subsilver2 ul {
		border:0;
		/* darken the background of the sub menus */
		background:rgba(100,100,100,0.1);
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		box-shadow:none;
	}


/* Menu items
===================*/

	.sm-subsilver2 a {
		padding-top:13px;
		padding-bottom:13px;
		background:transparent !important;
		color:#006597 !important;
	}
	.sm-subsilver2 a.current {
		background:#006597 !important;
		color:#ECECEC !important;
	}
	.sm-subsilver2 a.has-submenu {
		padding-right:23px;
	}
	/* add some text indentation for the 2+ level sub menu items */
	.sm-subsilver2 ul a {
		border-left:8px solid transparent;
	}
	.sm-subsilver2 ul ul a {
		border-left:16px solid transparent;
	}
	.sm-subsilver2 ul ul ul a {
		border-left:24px solid transparent;
	}
	.sm-subsilver2 ul ul ul ul a {
		border-left:32px solid transparent;
	}
	.sm-subsilver2 ul ul ul ul ul a {
		border-left:40px solid transparent;
	}


/* Sub menu indicators
===================*/

	.sm-subsilver2 a span.sub-arrow {
		right:auto;
		margin-left:-14px;
	}
	/* Hide sub indicator when item is expanded - we enable the item link when it's expanded */
	.sm-subsilver2 a.highlighted span.sub-arrow {
		display:none !important;
	}


/* Items separators
===================*/

	.sm-subsilver2 li {
		border-left:0;
		border-top:1px solid rgba(0,0,0,0.05) !important;
	}
	.sm-subsilver2 li:first-child {
		border-top:0 !important;
	}

}