<style type="text/css">
/*	.cj_forum_cron {
		background-color: #ffff7f;
		border-radius: 8px;
		padding:3px;
		margin-top:10px;
	}*/
	.cj_disabled
	{
		color:#a5a5a5;
	}
	.cj_small {
		font-size: 10px;
	}
</style>

<!-- IF S_VIEW_CRONJOBS -->
	<table cellspacing="1">
	<thead>
	<tr class="nodrop nodrag">
		<th style="width:25%;">{L_CRON_NAME}</th>
		<th>{L_CRONJOB_PAGES}</th>
		<th style="text-align:center;">{L_START_END_RUN}</th>
		<th>{L_RUN_PERIOD}</th>
		<th style="text-align:center;">{L_ENABLED} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'cj_enable', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'cj_enable', false); return false;">-</a>]</th>
	</tr>
	</thead>
	<tbody>
	<!-- IF .cronjobs -->
	<!-- BEGIN cronjobs -->
		<!-- IF cronjobs.IS_CAT -->
		<tr>
			<th colspan="5" style="text-align:center;"><strong>{cronjobs.IS_CAT}</strong></th>
		</tr>
		<!-- ENDIF -->
		<!-- IF not cronjobs.ENABLED --><tr class="row3"><!-- ELSE --><!-- IF cronjobs.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF --><!-- ENDIF -->
			<td style="vertical-align:top;">
				<strong>{cronjobs.CRON_NAME}:</strong>
				<!-- IF cronjobs.CRON_JOB_EXPLAIN --><br />{cronjobs.CRON_JOB_EXPLAIN}<!-- ENDIF -->
			</td>
			<td>{cronjobs.PAGES}</td>
			<td style="text-align:center;">{L_START_RUN}<br /><input type="text" size="3" maxlength="2" name="start_run[{cronjobs.ID}]" value="{cronjobs.START_RUN}" /><br />{L_END_RUN}<br /><input type="text" size="3" maxlength="2" name="end_run[{cronjobs.ID}]" value="{cronjobs.END_RUN}" /></td>
			<td><input type="text" size="5" name="run_period[{cronjobs.ID}]" value="{cronjobs.RUN_PERIOD}" />&nbsp;{cronjobs.RUN_PERIOD_V} [{cronjobs.RUN_PERIOD_VALUE}]</td>
			<td style="text-align:center;"><input class="radio" type="checkbox" name="cj_enable[{cronjobs.ID}]" value="1"{cronjobs.ENABLED} /></td>
		</tr>
		<!-- IF not cronjobs.ENABLED --><tr class="row3"><!-- ELSE --><!-- IF cronjobs.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF --><!-- ENDIF -->
			<td><!-- IF cronjobs.RUNS_COUNT and S_VIEW_CRONJOBS_PERCENT --><progress value="{cronjobs.PERCENT_COUNT}" max="100">{cronjobs.PERCENT_COUNT}</progress><span class="cj_small"> {cronjobs.FINISH_COUNT} {L_CJ_FROM} {cronjobs.RUNS_COUNT} ({cronjobs.PERCENT_COUNT}%)</span><!-- ENDIF --></td>
			<td colspan="2">
				<span<!-- IF cronjobs.FROM_GUEST_DISABLED --> class="cj_disabled"<!-- ENDIF -->><input class="radio" type="checkbox" name="from_guest[{cronjobs.ID}]" value="1"{cronjobs.FROM_GUEST}{cronjobs.FROM_GUEST_DISABLED} /> - {L_FROM_GUEST}</span>
				<!-- IF cronjobs.FORUM_CRON --> &nbsp; <span class="cj_disabled"><input class="radio" type="checkbox" name="forum_cron[{cronjobs.ID}]" value="1" checked="checked" disabled="disabled" /> - {L_FORUM_CRON}</span><!-- ENDIF -->
				<!-- IF cronjobs.IN_ANNOUNCE --> &nbsp; <span class="cj_disabled"><input class="radio" type="checkbox" name="in_announce[{cronjobs.ID}]" value="1" checked="checked" disabled="disabled" /> - {L_IN_ANNOUNCE}</span><!-- ENDIF -->
			</td>
			<td colspan="2"><!-- IF cronjobs.LAST_RUN -->{L_LAST_RUN}: {cronjobs.LAST_RUN} (<input class="radio" type="checkbox" name="lr_reset[{cronjobs.ID}]" value="1" /> - {L_LAST_RUN_RESET})<!-- ENDIF --></td>
		</tr>
	<!-- END cronjobs -->
	<tr class="row3">
		<td colspan="5">* {L_USER_CJ_EXPLAIN}</td>
	</tr>
	<!-- ELSE -->
	<tr>
		<td colspan="5" style="text-align:center;">{L_NO_DATA}</td>
	</tr>
	<!-- ENDIF -->
	</tbody>
	</table>
<!-- ENDIF -->
{S_HIDDEN_FIELDS}
