<!-- INCLUDE overall_header.html -->

<a name="maincontent"></a>
<h1>{TITLE}</h1>
<p>{TITLE_EXPLAIN}</p>

<!-- IF S_OVERVIEW -->
	<form id="action_delete_form" method="post" action="{U_ACTION}">
	<div class="pagination">
		{TOTAL_MESSAGES} <!-- IF S_ON_PAGE --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto();return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
	</div>
	
	<table cellspacing="1">
		<thead>
			<tr>
				<th style="text-align:center;width:auto;">#</th>
				<th style="text-align:center;width:auto;">{L_ERRORS_DATE}</th>
				<th style="text-align:center;width:auto;">{L_ERRORS_USER}</th>
				<th>{L_ERRORS_PAGE_LINE}</th>
				<th>{L_MESSAGE}</th>
				<th style="text-align:center;width:auto;">{L_MARK}</th>
			</tr>
		</thead>
		
		<tbody>
		<!-- IF S_DISPLAY_MESSAGES -->
			<!-- BEGIN messages -->
			<tr class="row<!-- IF messages.ROW_NUMBER is even -->1<!-- ELSE -->2<!-- ENDIF -->">
				<td style="text-align:center">{messages.ROW_NUMBER}</td>
				<td>{messages.TIME}</td>
				<td><span title="{messages.POSTER_ALT}">{messages.POSTER}</span><br />{messages.IP}<br />{messages.WHOIS}<br />{messages.LANG}</td>
				<td><strong>{L_ERRORS_PAGE}</strong>: {messages.PAGE}<br /><strong>{L_ERRORS_FILE}</strong>: {messages.FILE}<br /><strong>{L_ERRORS_LINE}</strong>: {messages.LINE}</td>
				<td>{messages.TYPE}<br /><br />{messages.MESSAGE}</td>
				<td style="text-align: center;"><input type="checkbox" class="radio" name="mark[]" value="{messages.ID}" /></td>
			</tr>
			<!-- END messages -->
		<!-- ELSE -->
			<tr class="row2">
				<td style="text-align:center">0</td>
				<td colspan="4" style="text-align:center;font-size:14px;"><strong><i>{L_ERRORS_NO_MESSAGE}</i></strong></td>
				<td style="text-align:center"></td>
			</tr>
		<!-- ENDIF -->
		</tbody>
	</table>
	<div class="pagination">
		{TOTAL_MESSAGES} <!-- IF S_ON_PAGE --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto();return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
	</div>

	<fieldset class="quick">
		<input class="button2" type="submit" name="purge" title="{L_DELETE_ALL}" value="{L_DELETE_ALL}" />&nbsp;&nbsp;
		<input class="button2" type="submit" name="select" title="{L_ERRORS_DELETE}" value="{L_ERRORS_DELETE}" />&nbsp;&nbsp;
		<input class="button2" type="submit" name="delmarked" title="{L_DELETE_MARKED}" value="{L_DELETE_MARKED}" />
		<p class="small"><a href="#" onclick="marklist('action_delete_form','mark',true);return false;" title="{L_MARK_ALL}">{L_MARK_ALL}</a> &bull; <a href="#" onclick="marklist('action_delete_form','mark',false);return false;" title="{L_UNMARK_ALL}">{L_UNMARK_ALL}</a></p>
	</fieldset>

	</form>
	<br /><br />
	
<!-- ENDIF -->

<!-- IF S_CONFIG -->
	<!-- IF S_UP_TO_DATE -->
	<div class="successbox">
		<p>{UP_TO_DATE_MSG}</p>
	</div>
	<!-- ELSE IF S_ERROR -->
	<div class="errorbox">
		<h3>{L_WARNING}</h3>
		<p>{ERROR_MSG}</p>
	</div>
	<!-- ENDIF -->

	<fieldset>
		<legend></legend>
	<dl>
		<dt><label>{L_CURRENT_VERSION}:</label></dt>
		<dd><strong>{CURRENT_VERSION}</strong></dd>
	</dl>
	<dl>
		<dt><label>{L_LATEST_VERSION}:</label></dt>
		<dd><strong>{LATEST_VERSION}</strong></dd>
	</dl>
	</fieldset>

	{UPDATE_INSTRUCTIONS}
	<br /><br />

	<form id="settings" method="post" action="{U_ACTION}">								
		<fieldset>
			<legend>{L_GENERAL_SETTINGS}</legend>
			<dl>
				<dt><label for="errors_debug_active">{L_ERRORS_DEBUG_ACTIVE}:</label><br />{L_ERRORS_DEBUG_ACTIVE_EXPLAIN}</dt>
				<dd>
					<label><input type="radio" class="radio" name="errors_debug_active" value="1"<!-- IF ERRORS_DEBUG_ACTIVE --> checked="checked" id="errors_debug_active"<!-- ENDIF --> /> {L_YES}</label>
					<label><input type="radio" class="radio" name="errors_debug_active" value="0"<!-- IF not ERRORS_DEBUG_ACTIVE --> checked="checked" id="errors_debug_active"<!-- ENDIF --> /> {L_NO}</label>
				</dd>
			</dl>
			<dl>
				<dt><label for="errors_debug_echo">{L_ERRORS_DEBUG_ECHO}:</label><br />{L_ERRORS_DEBUG_ECHO_EXPLAIN}</dt>
				<dd>
					<label><input type="radio" class="radio" name="errors_debug_echo" value="0"<!-- IF not ERRORS_DEBUG_ECHO --> checked="checked" id="errors_debug_echo"<!-- ENDIF --> /> {L_ERRORS_DEBUG_DISPLAY}</label><br /><br />
					<label><input type="radio" class="radio" name="errors_debug_echo" value="1"<!-- IF ERRORS_DEBUG_ECHO --> checked="checked" id="errors_debug_echo"<!-- ENDIF --> /> {L_ERRORS_DEBUG_OFF}</label>
				</dd>
			</dl>
			<dl>
				<dt><label for="errors_debug_footer">{L_ERRORS_DEBUG_FOOTER}:</label><br />{L_ERRORS_DEBUG_FOOTER_EXPLAIN}</dt>
				<dd>
					<label><input type="radio" class="radio" name="errors_debug_footer" value="1"<!-- IF ERRORS_DEBUG_FOOTER --> checked="checked" id="errors_debug_footer"<!-- ENDIF --> /> {L_ERRORS_FOOTER_DISPLAY}</label><br /><br />
					<label><input type="radio" class="radio" name="errors_debug_footer" value="0"<!-- IF not ERRORS_DEBUG_FOOTER --> checked="checked" id="errors_debug_footer"<!-- ENDIF --> /> {L_ERRORS_FOOTER_OFF}</label>
				</dd>
			</dl>
			<dl>
				<dt><label for="errors_debug_all">{L_ERRORS_DEBUG_ALL}:</label><br />{L_ERRORS_DEBUG_ALL_EXPLAIN}</dt>
				<dd>
					<label><input type="radio" class="radio" name="errors_debug_all" value="1"<!-- IF ERRORS_DEBUG_ALL --> checked="checked" id="errors_debug_all"<!-- ENDIF --> /> {L_YES}</label>
					<label><input type="radio" class="radio" name="errors_debug_all" value="0"<!-- IF not ERRORS_DEBUG_ALL --> checked="checked" id="errors_debug_all"<!-- ENDIF --> /> {L_NO}</label>
				</dd>
			</dl>
			<dl>
				<dt><label for="errors_debug_ip">{L_ERRORS_DEBUG_WHOIS}:</label><br />{L_ERRORS_DEBUG_WHOIS_EXPLAIN}</dt>
				<dd>
					<label><input type="radio" class="radio" name="errors_debug_ip" value="1"<!-- IF ERRORS_DEBUG_IP --> checked="checked" id="errors_debug_ip"<!-- ENDIF --> /> {L_ERRORS_DEBUG_DOMAINE}</label><br /><br />
					<label><input type="radio" class="radio" name="errors_debug_ip" value="0"<!-- IF not ERRORS_DEBUG_IP --> checked="checked" id="errors_debug_ip"<!-- ENDIF --> /> {L_ERRORS_DEBUG_UTRACE}</label>
				</dd>
			</dl>
			<dl>
				<dt><label for="errors_debug_acp">{L_ERRORS_DEBUG_ACP}:</label><br />{L_ERRORS_DEBUG_ACP_EXPLAIN}</dt>
				<dd><input class="text small" type="text" id="errors_debug_acp" name="errors_debug_acp" value="{ERRORS_DEBUG_ACP}" maxlength="2" size="3" />&nbsp;&nbsp;{L_MESSAGES}</dd>
			</dl>
		</fieldset>
				
		<fieldset style="text-align: center;">
			<legend>{L_SUBMIT}</legend>
			<input class="button1" type="submit" id="submit" name="update" value="{L_SUBMIT}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
		</fieldset>
	</form>

<!-- ENDIF -->

<div style="text-align:center;padding-top:15px;"><span style="font-size:0.90em;"><em>{ERRORS_VERSION}</em></span></div>

<!-- INCLUDE overall_footer.html -->