<!-- IF S_NEW_CSSJS -->

	<!-- IF not S_FORM_CSSJS -->
	<link rel="stylesheet" href="{PPKBB3CKER_ADDONS}css/tablednd.css" type="text/css" />
	<script src="{PPKBB3CKER_ADDONS}js/jquery.tablednd.js" type="text/javascript"></script>
	<script type="text/javascript">
	// <![CDATA[
	jQuery(document).ready(function($) {
		$('#cssjs').tableDnD({
			onDrop: function(table, row) {
				$('#AjaxResult').load("{S_SORT_CSSJS}&"+$.tableDnD.serialize());
				//window.location.href=window.location.href;
			}
		});

		$("#cssjs tr").hover(function() {
			$(this.cells[0]).addClass('showDragHandle');
		}, function() {
			$(this.cells[0]).removeClass('showDragHandle');
		});
	});
	// ]]>
	</script>
	<!-- ENDIF -->

	<div id="AjaxResult" class="error"></div>

	<!-- IF not S_FORM_CSSJS -->
	<fieldset class="submit-buttons">
		<input class="button1" type="submit" name="form_cssjs" value="{L_ADD}" />
	</fieldset>
	<!-- ENDIF -->

	<strong>{CSSJS_TYPE}</strong>

	<table cellspacing="1" id="cssjs">
	<!-- IF S_FORM_CSSJS -->
	<thead>
	<tr class="nodrop nodrag">
		<th colspan="7">{L_ADD}</th>
	</tr>
	</thead>
	<!-- ENDIF -->
	<thead>
	<tr class="nodrop nodrag">
		<th>#</th>
		<th><span class="my_tt" title="{L_PATH_EXPLAIN}">{L_PATH}</span></th>
		<th><span class="my_tt" title="{L_VARIABLE_EXPLAIN}">{L_VARIABLE}</span></th>
		<th>{L_INCLUDE}</th>
		<th>{L_ORDER}</th>
		<th>{L_ENABLED} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'cssjs_enabled', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'cssjs_enabled', false); return false;">-</a>]</th>
		<!-- IF not S_FORM_CSSJS --><th>{L_DELETE} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'cssjs_delete', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'cssjs_delete', false); return false;">-</a>]</th><!-- ENDIF -->
	</tr>
	</thead>
	<tbody>
	<!-- IF .cssjs -->
	<!-- BEGIN cssjs -->
		<!-- IF not cssjs.ENABLED and cssjs.PATH --><tr class="row3" id="cssjs-row-{cssjs.ID}"><!-- ELSE --><!-- IF cssjs.S_ROW_COUNT is even --><tr class="row1" id="cssjs-row-{cssjs.ID}"><!-- ELSE --><tr class="row2" id="cssjs-row-{cssjs.ID}"><!-- ENDIF --><!-- ENDIF -->
			<td class="dragHandle">&nbsp;</td>
			<td><input type="text" size="32" class="inputbox" name="cssjs_path[{cssjs.ID}]" value="{cssjs.PATH}" /></td>
			<td><input type="text" size="8" class="inputbox" maxlength="16" name="cssjs_variable[{cssjs.ID}]" value="{cssjs.VARIABLE}" /></td>
			<td>{cssjs.INCLUDE}</td>
			<td><input type="text" size="3" maxlength="3" name="cssjs_order[{cssjs.ID}]" value="{cssjs.ORDER}" /></td>
			<td style="text-align:center;"><input class="radio" type="checkbox" name="cssjs_enabled[{cssjs.ID}]" value="1"<!-- IF cssjs.ENABLED --> checked="checked"<!-- ENDIF --> /></td>
			<!-- IF not S_FORM_CSSJS --><td style="text-align:center;"><input class="radio" type="checkbox" name="cssjs_delete[{cssjs.ID}]" value="1" /></td><!-- ENDIF -->
		</tr>
	<!-- END cssjs -->
	<!-- ELSE -->
	<tr class="nodrop nodrag">
		<td colspan="7" style="text-align:center;">{L_NO_DATA}</td>
	</tr>
	<!-- ENDIF -->
	</tbody>
	</table>

<!-- ELSE  -->

	<table cellspacing="1">
	<thead>
	<tr>
		<th>{L_CSSJS_TYPE}</th>
		<th>{L_EDIT}</th>
		<th width="35%">{L_CSSJS_COUNT}</th>
	</tr>
	</thead>
	<tbody>
	<!-- BEGIN cssjs_type -->
		<!-- IF cssjs_type.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
			<td>{cssjs_type.CSSJS_NAME}</td>
			<td style="text-align:center;"><a href="{cssjs_type.U_CSSJS_EDIT}">{ICON_EDIT}</a></td>
			<td style="text-align:center;">{cssjs_type.CSSJS_COUNT}</td>
		</tr>
	<!-- END cssjs -->
	</tbody>
	</table>

<!-- ENDIF -->

{S_HIDDEN_FIELDS}
