<!-- IF S_VIEW_CRS -->

	<!-- IF CR_PORT -->
	<!-- IF not NEW_CR -->
	<fieldset class="submit-buttons">
		<input class="button1" type="submit" name="add_new" value="{L_ADD}" />
	</fieldset>
	<!-- ENDIF -->
	{L_CRESTRICTS_NAME} - {CR_NAME}
	<table cellspacing="1">
	<!-- IF NEW_CR -->
	<thead>
	<tr>
		<th colspan="4">{L_ADD}</th>
	</tr>
	</thead>
	<!-- ENDIF -->
	<thead>
	<tr>
		<th>{L_CR_PORT_START}</th>
		<th>{L_CR_PORT_END}</th>
		<th>{L_CR_ENABLED} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'renabled', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'renabled', false); return false;">-</a>]</th>
		<!-- IF not NEW_CR --><th>{L_DELETE} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'cr_delete', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'cr_delete', false); return false;">-</a>]</th><!-- ENDIF -->
	</tr>
	</thead>
	<tbody>
	<!-- IF .crs -->
	<!-- BEGIN crs -->
	<!-- IF crs.ENABLED == '' and crs.RSTART --><tr class="row3"><!-- ELSE --><!-- IF crs.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF --><!-- ENDIF -->
		<td><input type="text" name="cr_start[{crs.ID}]" size="5" maxlength="5" value="{crs.RSTART}" title="" /></td>
		<td><input type="text" name="cr_end[{crs.ID}]" size="5" maxlength="5" value="{crs.REND}" title="" /></td>
		<td style="text-align:center;"><input class="radio" type="checkbox" name="renabled[{crs.ID}]" value="1"{crs.ENABLED} title="" /></td>
		<!-- IF not NEW_CR --><td style="text-align:center;"><input class="radio" type="checkbox" name="cr_delete[{crs.ID}]" value="1" /></td><!-- ENDIF -->
	</tr>
	<!-- END crs -->
	<!-- ELSE -->
	<tr>
		<td colspan="4" style="text-align:center;">{L_NO_DATA}</td>
	</tr>
	<!-- ENDIF -->
	</tbody>
	</table>
	<!-- ENDIF -->

	<!-- IF CR_UA -->
	<!-- IF not NEW_CR -->
	<fieldset class="submit-buttons">
		<input class="button1" type="submit" name="add_new" value="{L_ADD}" />
	</fieldset>
	<!-- ENDIF -->
	{L_CRESTRICTS_NAME} - {CR_NAME}
	<table cellspacing="1">
	<!-- IF NEW_CR -->
	<thead>
	<tr>
		<th colspan="6">{L_ADD}</th>
	</tr>
	</thead>
	<!-- ENDIF -->
	<thead>
	<tr>
		<th>{L_CR_UA}</th>
		<th>{L_CR_RTYPE}</th>
		<th>{L_CR_STYPE}</th>
		<th>{L_CR_ITYPE}</th>
		<th>{L_CR_ENABLED} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'renabled', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'renabled', false); return false;">-</a>]</th>
		<!-- IF not NEW_CR --><th>{L_DELETE} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'cr_delete', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'cr_delete', false); return false;">-</a>]</th><!-- ENDIF -->
	</tr>
	</thead>
	<tbody>
	<!-- IF .crs -->
	<!-- BEGIN crs -->
	<!-- IF crs.ENABLED == '' and crs.RSTART --><tr class="row3"><!-- ELSE --><!-- IF crs.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF --><!-- ENDIF -->
		<td><input type="text" name="cr_start[{crs.ID}]" size="32" maxlength="128" value="{crs.RSTART}" title="" /></td>
		<td style="text-align:center;"><input class="radio" type="radio" name="cr_type[{crs.ID}]" value="r" title=""{crs.RCHECKED} /></td>
		<td style="text-align:center;"><input class="radio" type="radio" name="cr_type[{crs.ID}]" value="s" title=""{crs.SCHECKED} /></td>
		<td style="text-align:center;"><input class="radio" type="radio" name="cr_type[{crs.ID}]" value="i" title=""{crs.ICHECKED} /></td>
		<td style="text-align:center;"><input class="radio" type="checkbox" name="renabled[{crs.ID}]" value="1"{crs.ENABLED} title="" /></td>
		<!-- IF not NEW_CR --><td style="text-align:center;"><input class="radio" type="checkbox" name="cr_delete[{crs.ID}]" value="1" /></td><!-- ENDIF -->
	</tr>
	<!-- END crs -->
	<!-- ELSE -->
	<tr>
		<td colspan="6" style="text-align:center;">{L_NO_DATA}</td>
	</tr>
	<!-- ENDIF -->
	</tbody>
	</table>
	<!-- ENDIF -->

	<!-- IF CR_PEERID -->
	<!-- IF not NEW_CR -->
	<fieldset class="submit-buttons">
		<input class="button1" type="submit" name="add_new" value="{L_ADD}" />
	</fieldset>
	<!-- ENDIF -->
	{L_CRESTRICTS_NAME} - {CR_NAME}
	<table cellspacing="1">
	<!-- IF NEW_CR -->
	<thead>
	<tr>
		<th colspan="6">{L_ADD}</th>
	</tr>
	</thead>
	<!-- ENDIF -->
	<thead>
	<tr>
		<th>{L_CR_PEERID}</th>
		<th>{L_CR_RTYPE}</th>
		<th>{L_CR_STYPE}</th>
		<th>{L_CR_ITYPE}</th>
		<th>{L_CR_ENABLED} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'renabled', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'renabled', false); return false;">-</a>]</th>
		<!-- IF not NEW_CR --><th>{L_DELETE} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'cr_delete', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'cr_delete', false); return false;">-</a>]</th><!-- ENDIF -->
	</tr>
	</thead>
	<tbody>
	<!-- IF .crs -->
	<!-- BEGIN crs -->
	<!-- IF crs.ENABLED == '' and crs.RSTART --><tr class="row3"><!-- ELSE --><!-- IF crs.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF --><!-- ENDIF -->
		<td><input type="text" name="cr_start[{crs.ID}]" size="32" maxlength="128" value="{crs.RSTART}" title="" /></td>
		<td style="text-align:center;"><input class="radio" type="radio" name="cr_type[{crs.ID}]" value="r" title=""{crs.RCHECKED} /></td>
		<td style="text-align:center;"><input class="radio" type="radio" name="cr_type[{crs.ID}]" value="s" title=""{crs.SCHECKED} /></td>
		<td style="text-align:center;"><input class="radio" type="radio" name="cr_type[{crs.ID}]" value="i" title=""{crs.ICHECKED} /></td>
		<td style="text-align:center;"><input class="radio" type="checkbox" name="renabled[{crs.ID}]" value="1"{crs.ENABLED} title="" /></td>
		<!-- IF not NEW_CR --><td style="text-align:center;"><input class="radio" type="checkbox" name="cr_delete[{crs.ID}]" value="1" /></td><!-- ENDIF -->
	</tr>
	<!-- END crs -->
	<!-- ELSE -->
	<tr>
		<td colspan="6" style="text-align:center;">{L_NO_DATA}</td>
	</tr>
	<!-- ENDIF -->
	</tbody>
	</table>
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF S_VIEW_CRESTRICTS -->
	<table cellspacing="1">
	<thead>
	<tr>
		<th>{L_CRESTRICTS_NAME}</th>
		<th>{L_EDIT}</th>
		<th>{L_CRESTRICTS_COUNT}</th>
	</tr>
	</thead>
	<tbody>
	<!-- BEGIN crestricts -->
	<!-- IF crestricts.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
		<td>{crestricts.NAME}</td>
		<td style="text-align:center;"><a href="{crestricts.A_VIEW_CR}">{ICON_EDIT}</a></td>
		<td style="text-align:center;">{crestricts.COUNT}</td>
	</tr>
	<!-- END crestricts -->
	</tbody>
	</table>
<!-- ENDIF -->

{S_HIDDEN_FIELDS}
