<!-- INCLUDE overall_header.html -->

<!-- IF S_ADVANCED_SETTINGS --><a href="{U_BACK}" style="float: {S_CONTENT_FLOW_END};">&laquo; {L_BACK}</a><!-- ENDIF -->

<h1>{L_PST_TITLE}</h1>
<!-- IF S_PST_VERSION --><p>{S_PST_VERSION}</p><!-- ENDIF -->

<!-- IF S_PST_WARNING -->
	<div class="errorbox">
		<h3>{L_WARNING}</h3>
		<p>{L_PST_WARNING}</p>
	</div>
<!-- ENDIF -->

<form id="select_victim" method="post" action="{U_ACTION}">

<!-- IF S_ADVANCED_SETTINGS -->

<script type="text/javascript">
// <![CDATA[

	function selector(bool)
	{
		var table = document.getElementById('similar_forums');

		for (var i = 0; i < table.options.length; i++)
		{
			table.options[i].selected = bool;
		}
	}

// ]]>
</script>

	<fieldset>
			<legend>{L_PST_ADVANCED} {L_PST_LEGEND3}</legend>
		<dl>
			<dt><label for="similar_forums">{L_FORUM}: {PST_FORUM_NAME}</label><br /><br /><span>{PST_ADVANCED_EXP}</span></dt>
			<dd><select id="similar_forums" name="similar_forums_id[]" multiple="multiple" size="10">{SIMILAR_FORUMS_OPTIONS}</select></dd>
			<dd><a href="#" onclick="selector(false); return false;">{L_PST_DESELECT_ALL}</a></dd>
		</dl>
	<p class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
	</p>
	{S_FORM_TOKEN}
	</fieldset>

<!-- ELSE -->

	<fieldset>
		<legend>{L_PST_LEGEND1}</legend>
	<dl>
		<dt><label>{L_PST_ENABLE}:</label></dt>
		<dd>
			<input type="radio" class="radio" name="pst_enable" value="1"<!-- IF S_PST_ENABLE --> checked="checked"<!-- ENDIF --> /><label> {L_YES}</label>
			<input type="radio" class="radio" name="pst_enable" value="0"<!-- IF not S_PST_ENABLE --> checked="checked"<!-- ENDIF --> /><label> {L_NO}</label>
		</dd>
	</dl>
	</fieldset>

	<fieldset>
		<legend>{L_PST_LEGEND2}</legend>
	<dl>
		<dt><label>{L_PST_LIMIT}:</label><br /><span>{L_PST_LIMIT_EXPLAIN}</span></dt>
		<dd><input name="pst_limit" type="text" size="4" maxlength="2" value="{PST_LIMIT}" /></dd>
	</dl>
	<dl>
		<dt><label>{L_PST_TRACKER}:</label><br /><span>{L_PST_TRACKER_EXPLAIN}</span></dt>
		<dd><select name="pst_tracker"><option value="1"<!-- IF PST_TRACKER eq 1 --> selected="selected"<!-- ENDIF -->>{L_YES}</option><option value="0"<!-- IF PST_TRACKER eq 0 --> selected="selected"<!-- ENDIF -->>{L_NO}</option></select></dd>
	</dl>
	<dl>
		<dt><label>{L_PST_MAXWORDS}:</label><br /><span>{L_PST_MAXWORDS_EXPLAIN}</span></dt>
		<dd><input name="pst_maxwords" type="text" size="4" maxlength="2" value="{PST_MAXWORDS}" /></dd>
	</dl>
	<dl>
		<dt><label>{L_PST_MINSCORE}:</label><br /><span>{L_PST_MINSCORE_EXPLAIN}</span></dt>
		<dd><input name="pst_minscore" type="text" size="6" maxlength="6" value="{PST_MINSCORE}" /></dd>
	</dl>
	<dl>
		<dt><label>{L_PST_TIME}:</label><br /><span>{L_PST_TIME_EXPLAIN}</span></dt>
		<dd><input name="pst_time" type="text" size="4" maxlength="2" value="{PST_TIME}" /> <select name="pst_time_type">{S_TIME_OPTIONS}</select></dd>
	</dl>
	<dl>
		<dt><label>{L_PST_CACHE}:</label><br /><span>{L_PST_CACHE_EXPLAIN}</span></dt>
		<dd><input name="pst_cache" type="text" size="4" maxlength="6" value="{PST_CACHE}" /> {L_SECONDS}</dd>
	</dl>
	</fieldset>

<!-- IF .forums -->
	<fieldset>
			<legend>{L_PST_LEGEND3}</legend>
		<span class="small">{L_PST_FORUM_INFO}</span>
		<div style="max-height:300px; overflow:auto;">
		<table cellspacing="1">
			<col class="row1" /><col class="row2" /><col class="row1" /><col class="row2" />
		<thead>
		<tr>
			<th>{L_FORUMS}</th>
			<th style="text-align: center;">{L_PST_NOSHOW_LIST}</th>
			<th style="text-align: center;">{L_PST_IGNORE_SEARCH}</th>
			<th style="text-align: center;">{L_PST_ADVANCED} {L_PST_LEGEND3}</th>
		</tr>
		</thead>
		<tbody>
		<!-- BEGIN forums -->
		<tr>
			<td>
				<strong><a href="{forums.U_FORUM}">{forums.FORUM_NAME}</a></strong>
			</td>
			<td style="width:20%; text-align: center;" title="{L_PST_NOSHOW_TITLE} {forums.FORUM_NAME}">
			<input type="checkbox" class="radio" name="mark_noshow_forum[]" value="{forums.FORUM_ID}" {forums.CHECKED_NOSHOW_FORUM} />
			</td>
			<td style="width:20%; text-align: center;" title="{L_PST_IGNORE_TITLE} {forums.FORUM_NAME}">
			<input type="checkbox" class="radio" name="mark_ignore_forum[]" value="{forums.FORUM_ID}" {forums.CHECKED_IGNORE_FORUM} />
			</td>
			<td style="width:20%; text-align: center;" title="{L_PST_ADVANCED_TITLE} {forums.FORUM_NAME}">
			<!-- IF forums.S_IS_ADVANCED --><b><i><!-- ENDIF --><a href="{forums.U_ADVANCED}">{L_PST_ADVANCED}</a><!-- IF forums.S_IS_ADVANCED --></i></b><!-- ENDIF -->
			</td>
		</tr>
		<!-- END forums -->
		</tbody>
		</table>
		</div>
	</fieldset>
<!-- ENDIF -->

	<fieldset>
		<legend>{L_PST_LEGEND4}</legend>
	<dl>
		<dt><label>{L_PST_WORDS}:</label><br /><span>{L_PST_WORDS_EXPLAIN}</span></dt>
		<dd><input name="pst_words" type="text" class="text medium" maxlength="255" id="pst_words" value="{PST_WORDS}" /></dd>
	</dl>
	</fieldset>

	<fieldset>
		<legend>{L_ACP_SUBMIT_CHANGES}</legend>
	<p class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
	</p>
	{S_FORM_TOKEN}
	</fieldset>

<!-- ENDIF -->

</form>

<!-- INCLUDE overall_footer.html -->