<!-- IF S_NEW_TRESTRICTS -->

	<!-- IF not S_FORM_TRESTRICTS -->
	<link rel="stylesheet" href="{PPKBB3CKER_ADDONS}css/tablednd.css" type="text/css" />
	<script src="{PPKBB3CKER_ADDONS}js/jquery.tablednd.js" type="text/javascript"></script>
	<script type="text/javascript">
	// <![CDATA[
	jQuery(document).ready(function($) {
		$('#trestricts').tableDnD({
			onDrop: function(table, row) {
				$('#AjaxResult').load("{S_SORT_TRESTRICTS}&"+$.tableDnD.serialize());
				//window.location.href=window.location.href;
			}
		});

		$("#trestricts tr").hover(function() {
			$(this.cells[0]).addClass('showDragHandle');
		}, function() {
			$(this.cells[0]).removeClass('showDragHandle');
		});
	});
	// ]]>
	</script>
	<!-- ENDIF -->

	<div id="AjaxResult" class="error"></div>

	<!-- IF not S_FORM_TRESTRICTS -->
	<fieldset class="submit-buttons">
		<input class="button1" type="submit" name="form_trestricts" value="{L_ADD}" />
	</fieldset>
	<!-- ENDIF -->

	<strong>{TRESTRICTS_TYPE}</strong>

	<table cellspacing="1" id="trestricts">
	<!-- IF S_FORM_TRESTRICTS -->
	<thead>
	<tr class="nodrop nodrag">
		<th colspan="7">{L_ADD}</th>
	</tr>
	</thead>
	<!-- ENDIF -->
	<thead>
	<tr class="nodrop nodrag">
		<th>#</th>
		<th><span class="my_tt" title="{L_USER_RATIO_EXPLAIN}">{L_USER_RATIO}</span></th>
		<th>{L_USER_UPDOWN}</th>
		<th><span class="my_tt" title="{L_TIME_COUNT_EXPLAIN}">{L_TIME_COUNT}</span></th>
		<th>{L_ORDER}</th>
		<th>{L_ENABLED} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'trestricts_enabled', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'trestricts_enabled', false); return false;">-</a>]</th>
		<!-- IF not S_FORM_TRESTRICTS --><th>{L_DELETE} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'trestricts_delete', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'trestricts_delete', false); return false;">-</a>]</th><!-- ENDIF -->
	</tr>
	</thead>
	<tbody>
	<!-- IF .trestricts -->
	<!-- BEGIN trestricts -->
		<!-- IF not trestricts.ENABLED and trestricts.USER_RATIO --><tr class="row3" id="trestricts-row-{trestricts.ID}"><!-- ELSE --><!-- IF trestricts.S_ROW_COUNT is even --><tr class="row1" id="trestricts-row-{trestricts.ID}"><!-- ELSE --><tr class="row2" id="trestricts-row-{trestricts.ID}"><!-- ENDIF --><!-- ENDIF -->
			<td class="dragHandle">&nbsp;</td>
			<td><input type="text" size="12" class="inputbox" maxlength="12" name="trestricts_user_ratio[{trestricts.ID}]" value="{trestricts.USER_RATIO}" /></td>
			<td><input type="text" size="12" class="inputbox" maxlength="16" name="trestricts_user_updown[{trestricts.ID}]" value="{trestricts.USER_UPDOWN}" />&nbsp;{trestricts.USER_UPDOWN_V}<!-- IF not S_FORM_TRESTRICTS -->&nbsp;[{trestricts.USER_UPDOWN_VALUE}]<!-- ENDIF --></td>
			<td><input type="text" size="12" class="inputbox" maxlength="16" name="trestricts_time_count[{trestricts.ID}]" value="{trestricts.TIME_COUNT}" />&nbsp;{trestricts.TIME_COUNT_V}<!-- IF trestricts.TIME_COUNT_VALUE -->&nbsp;[{trestricts.TIME_COUNT_VALUE}]<!-- ENDIF --></td>
			<td><input type="text" size="3" maxlength="3" name="trestricts_order[{trestricts.ID}]" value="{trestricts.ORDER}" /></td>
			<td style="text-align:center;"><input class="radio" type="checkbox" name="trestricts_enabled[{trestricts.ID}]" value="1"<!-- IF trestricts.ENABLED --> checked="checked"<!-- ENDIF --> /></td>
			<!-- IF not S_FORM_TRESTRICTS --><td style="text-align:center;"><input class="radio" type="checkbox" name="trestricts_delete[{trestricts.ID}]" value="1" /></td><!-- ENDIF -->
		</tr>
	<!-- END trestricts -->
	<!-- ELSE -->
	<tr class="nodrop nodrag">
		<td colspan="7" style="text-align:center;">{L_NO_DATA}</td>
	</tr>
	<!-- ENDIF -->
	</tbody>
	</table>

<!-- ELSE  -->

	<table cellspacing="1">
	<thead>
	<tr>
		<th>{L_TRESTRICTS_TYPE}</th>
		<th>{L_EDIT}</th>
		<th width="35%">{L_TRESTRICTS_COUNT}</th>
	</tr>
	</thead>
	<tbody>
	<!-- BEGIN restrict_type -->
		<!-- IF restrict_type.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
			<td>{restrict_type.TRESTRICTS_NAME}</td>
			<td style="text-align:center;"><a href="{restrict_type.U_TRESTRICTS_EDIT}">{ICON_EDIT}</a></td>
			<td style="text-align:center;">{restrict_type.TRESTRICTS_COUNT}</td>
		</tr>
	<!-- END trestricts -->
	</tbody>
	</table>

<!-- ENDIF -->

{S_HIDDEN_FIELDS}
