<!-- IF S_VIEW_GSS -->

	{GS_DESCR}
	<table cellspacing="1">
	<thead>
	<tr>
		<th>{L_GROUPSETS_SET}</th>
		<th>{L_GROUPSETS_FORUMS}</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td valign="top" width="50%">
			{GS_NAME}: {GS_ACTION}<br />
			{GS_ADDIT}
		</td>
		<td valign="top">
			{GS_FORUMS}<br />
			<!-- IF GS_VIEW --><a href="{GS_VIEW}">{L_GS_VIEW_CURR}</a><br /><br /><!-- ELSE --><br /><!-- ENDIF -->
			<select name="gs_options"><option value="all">{L_GS_OPTIONS_ALL}</option><option value="selected" selected="selected">{L_GS_OPTIONS_SELECTED}</option><option value="not_selected">{L_GS_OPTIONS_NOTSELECTED}</option></select>
		</td>
	</tr>
	</tbody>
	</table>

<!-- ENDIF -->

<!-- IF S_VIEW_GROUPSET -->
	<table cellspacing="1">
	<thead>
	<tr>
		<th>{L_GROUPSETS_ACTION}</th>
		<th>{L_EDIT}</th>
		<th>{L_GROUPSETS_DESCR}</th>
	</tr>
	</thead>
	<tbody>
	<!-- BEGIN groupsets -->
	<!-- IF groupsets.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
		<td>{groupsets.NAME}</td>
		<td style="text-align:center;"><a href="{groupsets.URL}">{ICON_EDIT}</a></td>
		<td>{groupsets.DESCR}</td>
	</tr>
	<!-- END groupsets -->
	</tbody>
	</table>
<!-- ENDIF -->

{S_HIDDEN_FIELDS}
