<!-- IF S_VIEW_ADDR or S_NEW_ADDR -->
	<!-- IF S_VIEW_ADDR -->
	<fieldset class="submit-buttons">
		<input class="button1" type="submit" name="add_new" value="{L_ADD}" />
	</fieldset>
	<!-- ENDIF -->
	{L_ADDR} - {ZONE_NAME} <!-- IF ZONE_TYPE -->({ZONE_TYPE})<!-- ENDIF -->
	<table cellspacing="1">
	<!-- IF S_NEW_ADDR -->
	<thead>
	<tr>
		<th colspan="4">{L_ADD}</th>
	</tr>
	</thead>
	<!-- ENDIF -->
	<thead>
	<tr>
		<th>{L_ZONE_ADDR_START}</th>
		<th>{L_ZONE_ADDR_END}</th>
		<th>{L_ZONE_ENABLED} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'zenabled', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'zenabled', false); return false;">-</a>]</th>
		<!-- IF not S_NEW_ADDR --><th>{L_DELETE} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'addr_delete', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'addr_delete', false); return false;">-</a>]</th><!-- ENDIF -->
	</tr>
	</thead>
	<tbody>
	<!-- IF .addrs -->
	<!-- BEGIN addrs -->
		<!-- IF addrs.ENABLED == '' and addrs.START --><tr class="row3"><!-- ELSE --><!-- IF addrs.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF --><!-- ENDIF -->
			<td><input type="text" name="addr_start[{addrs.COUNT}]" size="16" maxlength="15" value="{addrs.START}" title="" /></td>
			<td><input type="text" name="addr_end[{addrs.COUNT}]" size="16" maxlength="15" value="{addrs.END}" title="" /></td>
			<td style="text-align:center;"><input class="radio" type="checkbox" name="zenabled[{addrs.COUNT}]" value="1"{addrs.ENABLED} title="" /></td>
			<!-- IF not S_NEW_ADDR --><td style="text-align:center;"><input class="radio" type="checkbox" name="addr_delete[{addrs.COUNT}]" value="1" /></td><!-- ENDIF -->
		</tr>
	<!-- END addrs -->
	<!-- ELSE -->
	<tr>
		<td colspan="4" style="text-align:center;">{L_NO_DATA}</td>
	</tr>
	<!-- ENDIF -->
	</tbody>
	</table>
<!-- ENDIF -->

<!-- IF S_VIEW_RTRACK or S_NEW_RTRACK -->
	<!-- IF S_VIEW_RTRACK -->
	<fieldset class="submit-buttons">
		<input class="button1" type="submit" name="add_new" value="{L_ADD}" />
	</fieldset>
	<!-- ENDIF -->
	{L_RTRACK} - {ZONE_NAME} <!-- IF ZONE_TYPE -->({ZONE_TYPE})<!-- ENDIF -->
	<table cellspacing="1">
	<!-- IF S_NEW_RTRACK -->
	<thead>
	<tr>
		<th colspan="3">{L_ADD}</th>
	</tr>
	</thead>
	<!-- ENDIF -->
	<thead>
	<tr>
		<th>{L_ZONE_RTRACK_URL}</th>
		<th>{L_RTRACK_ENABLED} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'rtrack_enabled', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'rtrack_enabled', false); return false;">-</a>]</th>
		<!-- IF not S_NEW_RTRACK --><th>{L_DELETE} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'rtrack_delete', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'rtrack_delete', false); return false;">-</a>]</th><!-- ENDIF -->
	</tr>
	</thead>
	<tbody>
	<!-- IF .rtracks -->
	<!-- BEGIN rtracks -->
		<!-- IF rtracks.ENABLED == '' and rtracks.URL --><tr class="row3"><!-- ELSE --><!-- IF rtracks.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF --><!-- ENDIF -->
			<td><input type="text" name="rtrack_url[{rtracks.COUNT}]" size="40" value="{rtracks.URL}" title="" /><input type="hidden" name="rtrack_id[{rtracks.COUNT}]" value="{rtracks.COUNT}" /></td>
			<td style="text-align:center;"><input class="radio" type="checkbox" name="rtrack_enabled[{rtracks.COUNT}]" value="1"{rtracks.ENABLED} title="" /></td>
			<!-- IF not S_NEW_RTRACK --><td style="text-align:center;"><input class="radio" type="checkbox" name="rtrack_delete[{rtracks.COUNT}]" value="1" /></td><!-- ENDIF -->
		</tr>
	<!-- END rtracks -->
	<!-- ELSE -->
	<tr>
		<td colspan="3" style="text-align:center;">{L_NO_DATA}</td>
	</tr>
	<!-- ENDIF -->
	</tbody>
	</table>
<!-- ENDIF -->

<!-- IF S_VIEW_ZONES or S_NEW_ZONES -->
	<!-- IF S_VIEW_ZONES -->
	<fieldset class="submit-buttons">
		<input class="button1" type="submit" name="add_new" value="{L_ADD}" />
	</fieldset>
	<!-- ENDIF -->
	<table cellspacing="1">
	<!-- IF S_NEW_ZONES -->
	<thead>
	<tr>
		<th colspan="6">{L_ADD}</th>
	</tr>
	</thead>
	<!-- ENDIF -->
	<thead>
	<tr>
		<th>{L_ZONE_NAME}</th>
		<th>{L_TYPE}</th>
		<!-- IF not S_NEW_ZONES --><th>{L_VIEW_ADDR}</th>
		<th>{L_VIEW_RTRACK}</th><!-- ENDIF -->
		<th>{L_ZONE_ENABLED} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'zenabled', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'zenabled', false); return false;">-</a>]</th>
		<!-- IF not S_NEW_ZONES --><th>{L_DELETE} [<a href="#" onclick="marklist('acp_board', 'z_delete', true); return false;">+</a>/<a href="#" onclick="marklist('acp_board', 'z_delete', false); return false;">-</a>]</th><!-- ENDIF -->
	</tr>
	</thead>
	<tbody>
	<!-- IF .zones -->
	<!-- BEGIN zones -->
		<!-- IF zones.ENABLED == '' and zones.NAME --><tr class="row3"><!-- ELSE --><!-- IF zones.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF --><!-- ENDIF -->
			<td><input type="text" name="z_name[{zones.COUNT}]" size="32" maxlength="64" value="{zones.NAME}" /></td>
			<td>
				<!-- IF zones.NAME -->
				{zones.TYPE}
				<!-- ELSE -->
				<select name="z_type[0]">
					<option value="a" selected="selected"></option>
					<option value="w">{L_ZONE_WHITE}</option>
					<option value="b">{L_ZONE_BLACK}</option>
					<option value="r">{L_ZONE_BLOCK}</option>
				</select>
				<!-- ENDIF -->
			</td>
			<!-- IF not S_NEW_ZONES --><td style="text-align:center;"><a href="{zones.A_VIEW_ADDR}">{ICON_EDIT}</a></td>
			<td style="text-align:center;"><a href="{zones.A_VIEW_RTRACK}">{ICON_EDIT}</a></td><!-- ENDIF -->
			<td style="text-align:center;"><input class="radio" type="checkbox" name="zenabled[{zones.COUNT}]" value="1"{zones.ENABLED} title="" /></td>
			<!-- IF not S_NEW_ZONES --><td style="text-align:center;"><input class="radio" type="checkbox" name="z_delete[{zones.COUNT}]" value="1" /></td><!-- ENDIF -->
		</tr>
	<!-- END zones -->
	<!-- ELSE -->
	<tr>
		<td colspan="6" style="text-align:center;">{L_NO_DATA}</td>
	</tr>
	<!-- ENDIF -->
	</tbody>
	</table>
<!-- ENDIF -->

{S_HIDDEN_FIELDS}
