<!-- INCLUDE overall_header.html -->

<a name="maincontent"></a>

<h1>{L_ACP_PRUNE_USERS}</h1>

<p>{L_ACP_PRUNE_USERS_EXPLAIN}</p>

<form id="acp_prune" method="post" action="{U_ACTION}">

	
<fieldset>
	<legend>{L_ACP_PRUNE_USERS}</legend>
<dl>
	<dt><label for="username">{L_USERNAME}:</label></dt>
	<dd><input type="text" id="username" name="username" /></dd>
</dl>
<dl>
	<dt><label for="email">{L_EMAIL}:</label></dt>
	<dd><input type="text" id="email" name="email" /></dd>
</dl>
<dl>
	<dt><label for="joined">{L_JOINED}:</label><br /><span>{L_JOINED_EXPLAIN}</span></dt>
	<dd><select name="joined_select">{S_JOINED_OPTIONS}</select> <input type="text" id="joined" name="joined" /></dd>
</dl>
<dl>
	<dt><label for="active">{L_LAST_ACTIVE}:</label><br /><span>{L_LAST_ACTIVE_EXPLAIN}</span></dt>
	<dd><select name="active_select">{S_ACTIVE_OPTIONS}</select> <input type="text" id="active" name="active" /></dd>
</dl>
<dl>
	<dt><label for="count">{L_POSTS}:</label></dt>
	<dd><select name="count_select">{S_COUNT_OPTIONS}</select> <input type="text" id="count" name="count" /></dd>
</dl>
<dl>
	<dt><label for="ratio">{L_USER_RATIO}:</label> ({L_TRACKER_RATIO_ANNOT})</dt>
	<dd><select name="ratio_select">{S_RATIO_OPTIONS}</select> <input type="text" id="ratio" name="ratio" /></dd>
</dl>
<dl>
	<dt><label for="downloaded">{L_USER_DOWNLOADED}:</label></dt>
	<dd><select name="downloaded_select">{S_DOWNLOADED_OPTIONS}</select> <input type="text" id="downloaded" name="downloaded" />&nbsp;<select name="downloadedv"><option value="b">{L_BYTES}</option><option value="kb">{L_KB}</option><option value="mb">{L_MB}</option><option value="gb">{L_GB}</option><option value="tb">{L_TB}</option><option value="pb">{L_PB}</option><option value="eb">{L_EB}</option></select></dd>
</dl>
<dl>
	<dt><label for="uploaded">{L_USER_UPLOADED}:</label></dt>
	<dd><select name="uploaded_select">{S_UPLOADED_OPTIONS}</select> <input type="text" id="uploaded" name="uploaded" />&nbsp;<select name="uploadedv"><option value="b">{L_BYTES}</option><option value="kb">{L_KB}</option><option value="mb">{L_MB}</option><option value="gb">{L_GB}</option><option value="tb">{L_TB}</option><option value="pb">{L_PB}</option><option value="eb">{L_EB}</option></select></dd>
</dl>
<dl>
	<dt><label for="users">{L_ACP_PRUNE_USERS}:</label><br /><span>{L_SELECT_USERS_EXPLAIN}</span></dt>
	<dd><textarea id="users" name="users" cols="40" rows="5"></textarea></dd>
	<dd>[ <a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a> ]</dd>
</dl>
<dl>
	<dt><label for="deleteposts">{L_DELETE_USER_POSTS}:</label><br /><span>{L_DELETE_USER_POSTS_EXPLAIN}</span></dt>
	<dd><label><input type="radio" class="radio" name="deleteposts" value="1" /> {L_YES}</label>
		<label><input type="radio" class="radio" id="deleteposts" name="deleteposts" value="0" checked="checked" /> {L_NO}</label></dd>
</dl>
<dl>
	<dt><label for="deactivate">{L_DEACTIVATE_DELETE}:</label><br /><span>{L_DEACTIVATE_DELETE_EXPLAIN}</span></dt>
	<dd><label><input type="radio" class="radio" name="action" value="delete" /> {L_DELETE_USERS}</label>
		<label><input type="radio" class="radio" id="deactivate" name="action" value="deactivate" checked="checked" /> {L_DEACTIVATE}</label></dd>
</dl>

<p class="submit-buttons">
	<input type="hidden" name="prune" value="1" />

	<input class="button1" type="submit" id="update" name="update" value="{L_SUBMIT}" />&nbsp;
	<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
	{S_FORM_TOKEN}
</p>
</fieldset>
</form>

<!-- INCLUDE overall_footer.html -->
