
<!-- IF S_ERROR -->
	<div class="errorbox">
		<h3>{L_WARNING}</h3>
		<p>{ERROR_MSG}</p>
	</div>
<!-- ENDIF -->

<!-- IF .lost_torrents -->
{L_FLT_ERRORS_EXPLAIN}
<!-- ENDIF -->


<fieldset>
	<!-- IF .pagination or TOTAL_LOGS -->
		<div class="pagination">
			<!-- IF PAGINATION -->
				<div class="pagination">
					<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a> &bull; <span>{PAGINATION}</span>
				</div>
			<!-- ENDIF -->
		</div>
	<!-- ENDIF -->
	<!-- IF .lost_torrents -->
		<table cellspacing="1">
		<thead>
		<tr>
			<th>{L_USERNAME}</th>
			<th>{L_TOPIC_TITLE}</th>
			<th>{L_ERRORS}</th>
			<th>{L_FILENAME}</th>
			<th>{L_TORRENT_DATE}</th>
			<th>{L_MARK}</th>
		</tr>
		</thead>
		<tbody>
		<!-- BEGIN lost_torrents -->
			<!-- IF lost_torrents.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
				<td>{lost_torrents.USERNAME}</td>
				<td width="25%"><a href="{lost_torrents.TOPIC_URL}"><!-- IF lost_torrents.TOPIC_TITLE -->{lost_torrents.TOPIC_TITLE}<!-- ELSE -->{lost_torrents.POST_TITLE}<!-- ENDIF --></a></td>
				<td width="25%">
					<!-- IF lost_torrents.IS_ORPHAN -->
						<br />{L_IS_ORPHAN}
					<!-- ELSE -->
						<!-- IF not lost_torrents.IS_TRACKER and lost_torrents.POST_EXIST --><br />{L_FORUM_NOTTRACKER} ({lost_torrents.FORUM_ID})<!-- ENDIF -->
						<!-- IF not lost_torrents.IS_FIRST_POST and lost_torrents.TOPIC_EXISTS and lost_torrents.POST_EXISTS --><br />{L_NOT_FIRSTPOST} ({lost_torrents.POST_ID})<!-- ENDIF -->
						<!-- IF not lost_torrents.USER_EXISTS --><br />{L_USER_NOTEXISTS} ({lost_torrents.POSTER_ID})<!-- ENDIF -->
						<!-- IF not lost_torrents.POST_EXISTS --><br />{L_POST_NOTEXISTS} ({lost_torrents.POST_ID})<!-- ENDIF -->
						<!-- IF not lost_torrents.TOPIC_EXISTS --><br />{L_TOPIC_NOTEXISTS} ({lost_torrents.TOPIC_ID})<!-- ENDIF -->
						<!-- IF lost_torrents.IS_TRACKER and lost_torrents.IS_FIRST_POST and lost_torrents.USER_EXISTS and lost_torrents.POST_EXISTS and lost_torrents.TOPIC_EXISTS and lost_torrents.IS_NULL --><br />{L_IS_NULL}<!-- ENDIF -->
					<!-- ENDIF -->
				</td>
				<td width="25%"><a href="{lost_torrents.TORRENT_URL}">{lost_torrents.FILENAME}</a></td>
				<td style="text-align: center;">{lost_torrents.TORRENT_DATE}</td>
				<td style="text-align: center;"><input type="checkbox" class="radio" name="mark[]" value="{lost_torrents.ATTACH_ID}" /></td>
			</tr>
		<!-- END lost_torrents -->
		</tbody>
		</table>
		<!-- IF .pagination or TOTAL_LOGS -->
			<div class="pagination">
				<!-- IF PAGINATION -->
					<div class="pagination">
						<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a> &bull; <span>{PAGINATION}</span>
					</div>
				<!-- ENDIF -->
			</div>

		<!-- ENDIF -->
	<!-- ELSE -->
		<div class="errorbox">
			<p>{L_NO_DATA}</p>
		</div>
	<!-- ENDIF -->

	<fieldset class="display-options">
		{L_DISPLAY_LOG}: &nbsp;{S_LIMIT_DAYS}&nbsp;{L_SORT_BY}: {S_SORT_KEY} {S_SORT_DIR}
		<input class="button2" type="submit" value="{L_GO}" name="sort" />
		{S_FORM_TOKEN}
	</fieldset>
	<hr />

	<!-- IF .lost_torrents -->
		<fieldset class="quick">
			<input class="button2" type="submit" name="deleteall" value="{L_DELETE_ALL}" />&nbsp;
			<input class="button2" type="submit" name="deletemarked" value="{L_DELETE_MARKED}" /><br />
			<p class="small"><a href="#" onclick="marklist('acp_board', 'mark', true); return false;">{L_MARK_ALL}</a> &bull; <a href="#" onclick="marklist('acp_board', 'mark', false); return false;">{L_UNMARK_ALL}</a></p>
		</fieldset>
	<!-- ENDIF -->

</fieldset>

{S_HIDDEN_FIELDS}

