<!-- IF S_VIEW_SETS or S_NEW_SETS -->
	<!-- IF not S_NEW_SETS -->
	<link rel="stylesheet" href="{PPKBB3CKER_ADDONS}css/tablednd.css" type="text/css" />
	<script src="{PPKBB3CKER_ADDONS}js/jquery.tablednd.js" type="text/javascript"></script>
	<script type="text/javascript">
	// <![CDATA[
	jQuery(document).ready(function($) {
		$('#addf').tableDnD({
			onDrop: function(table, row) {
				$('#AjaxResult').load("{S_SORT_SETS}&"+$.tableDnD.serialize());
				//window.location.href=window.location.href;
			}
		});

		$("#addf tr").hover(function() {
			$(this.cells[0]).addClass('showDragHandle');
		}, function() {
			$(this.cells[0]).removeClass('showDragHandle');
		});
	});
	// ]]>
	</script>
	<!-- ENDIF -->
	<div id="AjaxResult" class="error"></div>
	<!-- IF S_VIEW_SETS -->
	<fieldset class="submit-buttons">
		<input class="button1" type="submit" name="add_new" value="{L_ADD}" />
	</fieldset>
	<!-- ENDIF -->
	<strong>{L_SETS_NAME}:</strong> {AF_NAME}
	<table cellspacing="1" id="addf">
	<!-- IF S_NEW_SETS -->
	<thead>
	<tr class="nodrop nodrag">
		<th colspan="7">{L_ADD}</th>
	</tr>
	</thead>
	<!-- ENDIF -->
	<thead>
	<tr class="nodrop nodrag">
		<th>#</th>
		<th>{L_FIELD_NAME}</th>
		<th>{L_FIELD_DESCR} ({L_ADDF_TPL})</th>
		<th>{L_COUNT}</th>
		<th>{L_REQUIRED}</th>
		<th>{L_ORDER}</th>
		<!-- IF S_NEW_SETS --><th>{L_ADD} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'af_add', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'af_add', false); return false;">-</a>]</th><!-- ELSE --><th>{L_DELETE} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'af_delete', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'af_delete', false); return false;">-</a>]</th><!-- ENDIF -->
	</tr>
	</thead>
	<tbody>
	<!-- IF S_NEW_SETS and not .sets -->
	<tr class="nodrop nodrag">
		<td colspan="7">{L_NO_NEW_ADDF}</td>
	</tr>
	<!-- ENDIF -->
	<!-- IF .sets -->
	<!-- BEGIN sets -->
		<!-- IF sets.S_ROW_COUNT is even --><tr class="row1" id="addf-row-{sets.ID}"><!-- ELSE --><tr class="row2" id="addf-row-{sets.ID}"><!-- ENDIF -->
			<td class="dragHandle">&nbsp;</td>
			<td><input type="hidden" name="af_name[{sets.ID}]" value="{sets.NAME}" />{sets.NAME}</td>
			<td><a href="{sets.VIEW}">{sets.VALUE}</a><!-- IF sets.TPL --> (<strong>{sets.TPL}</strong>)<!-- ENDIF --></td>
			<td><input type="text" size="1" maxlength="1" name="af_count[{sets.ID}]" value="{sets.COUNT}" title="" /></td>
			<td><input type="text" size="1" maxlength="1" name="af_required[{sets.ID}]" value="{sets.REQUIRED}" title="" /></td>
			<td><input type="text" name="af_order[{sets.ID}]" size="3" maxlength="3" value="{sets.ORDER}" title="" /></td>
			<td style="text-align:center;"><input class="radio" type="checkbox" name="af_<!-- IF not S_NEW_SETS -->delete<!-- ELSE -->add<!-- ENDIF -->[{sets.ID}]" value="1" /></td>
		</tr>
	<!-- END sets -->
	<!-- ELSE -->
	<tr>
		<td colspan="7" style="text-align:center;">{L_NO_DATA}</td>
	</tr>
	<!-- ENDIF -->
	</tbody>
	</table>
<!-- ENDIF -->

<!-- IF S_VIEW_ADDFIELDS or S_NEW_ADDFIELDS -->
	<!-- IF S_VIEW_ADDFIELDS -->
	<fieldset class="submit-buttons">
		<input class="button1" type="submit" name="add_new" value="{L_ADD}" />
	</fieldset>
	<!-- ENDIF -->
	<table cellspacing="1">
	<!-- IF S_NEW_ADDFIELDS -->
	<thead>
	<tr>
		<th colspan="4">{L_ADD}</th>
	</tr>
	</thead>
	<!-- ENDIF -->
	<thead>
	<tr>
		<th width="35%">{L_SET_NAME}</th>
		<th><!-- IF not S_NEW_ADDFIELDS -->{L_EDIT}<!-- ENDIF --></th>
		<th><!-- IF not S_NEW_ADDFIELDS --><a class="my_tt" title="{L_COPY_SETS_EXPLAIN}">{L_COPY_SETS}</a><!-- ENDIF --></th>
		<th><!-- IF not S_NEW_ADDFIELDS -->{L_DELETE} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'af_delete', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'af_delete', false); return false;">-</a>]<!-- ENDIF --></th>
	</tr>
	</thead>
	<tbody>
	<!-- IF .addfields -->
	<!-- BEGIN addfields -->
		<!-- IF addfields.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
			<td><input type="text" name="set_name[{addfields.COUNT}]" size="32" maxlength="64" value="{addfields.NAME}" /></td>
			<td style="text-align:center;"><!-- IF addfields.NAME --><a href="{addfields.A_VIEW_SETS}">{ICON_EDIT}</a><!-- ENDIF --></td>
			<td><!-- IF addfields.NAME --><a href="{addfields.A_COPY_SETS}">{L_COPY_SETS}</a><!-- ENDIF --></td>
			<td style="text-align:center;">
				<!-- IF addfields.NAME --><input class="radio" type="checkbox" name="af_delete[{addfields.COUNT}]" value="1" /><!-- ENDIF -->
			</td>
		</tr>
		<!-- IF addfields.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
			<td>{L_ADDFIELD_SUBJECT}</td>
			<td colspan="3"><input type="text" name="af_subject[{addfields.COUNT}]" style="width:100%;" maxlength="255" value="{addfields.SUBJECT}" /></td>
		</tr>
		<!-- IF addfields.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
			<td>{L_ADDFIELD_DESCR}</td>
			<td colspan="3"><textarea name="af_descr[{addfields.COUNT}]" style="width:100%;height:50px;">{addfields.DESCR}</textarea></td>
		</tr>
	<!-- END addfields -->
	<!-- ELSE -->
	<tr>
		<td colspan="4" style="text-align:center;">{L_NO_DATA}</td>
	</tr>
	<!-- ENDIF -->
	</tbody>
	</table>
<!-- ENDIF -->

{S_HIDDEN_FIELDS}
