
					</div>
				</div>
			<span class="corners-bottom"><span></span></span>
			<div class="clear"></div>
		</div>
		</div>
	</div>

	<div id="page-footer">
		<!-- IF S_COPYRIGHT_HTML -->
			{CREDIT_LINE}
			<br /><a href="http://www.ppkbb3cker.ru/">ppkBB3cker</a> v.2.5 &copy; 2008-2021 @ <a href="http://protoneutron.narod.ru/">PPK</a>
			<!-- IF TRANSLATION_INFO --> | {TRANSLATION_INFO}<!-- ENDIF -->
		<!-- ENDIF -->

		<!-- IF DEBUG_OUTPUT -->
			<!-- IF S_COPYRIGHT_HTML --><br /><!-- ENDIF -->
			{DEBUG_OUTPUT}
		<!-- ENDIF -->
	</div>
</div>

</body>
</html>
