{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{$IMAGE_SRC}" width="{$IMAGE_WIDTH}" height="{$IMAGE_HEIGHT}" alt="" />&nbsp;<!-- ENDIF -->{$TITLE}{$LR_BLOCK_H_R}
<table class="tablebg" cellspacing="1" width="100%">
	<tr class="row1">
		<td>
			{TOTAL_SIZE}<br />
			<hr />
			{TOTAL_TORRENTS}<br />
			{TOTAL_COMMENTS}<br />
			<hr />
			{TOTAL_PEERS}<br />
			{TOTAL_SEED}<br />
			{TOTAL_LEECH}<br />
			<hr />
			{TOTAL_UP}<br />
			{TOTAL_DOWN}<br />
			<hr />
			{TOTAL_SUP}<br />
			{TOTAL_SDOWN}<br />
			<hr />
			{TOTAL_TDOWN}<br />
			{TOTAL_TUP}<br />
			<hr />
			{TOTAL_UDOWN}<br />
			{TOTAL_UUP}<br />
			<hr />{TOTAL_SPEEDUP}<br />{TOTAL_SPEEDDOWN}
			<!-- IF S_TINFO_THANKS --><hr /><!-- ENDIF -->
			<!-- IF S_TINFO_THANKS -->{TOTAL_THANKS}<!-- ENDIF -->
		</td>
	</tr>
</table>
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}
