<!-- INCLUDE mcp_header.html -->

<!-- DEFINE $CUSTOM_FIELDSET_CLASS = 'forum-selection2' -->
<!-- INCLUDE jumpbox.html -->

<h2><a href="{U_VIEW_FORUM}">{L_FORUM}: {FORUM_NAME}</a></h2>

<form method="post" id="mcp" action="{S_MCP_ACTION}">

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<!-- IF PAGINATION or TOTAL_TOPICS -->
		<ul class="linklist">
			<li class="rightside pagination">
				<!-- IF TOTAL_TOPICS --> {TOTAL_TOPICS}<!-- ENDIF -->
				<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
			</li>
		</ul>
	<!-- ENDIF -->

	<!-- IF .topicrow -->
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt>{L_TOPICS}</dt>
					<dd class="posts">{L_REPLIES}</dd>
					<dd class="views">{L_VIEWS}</dd>
					<dd class="lastpost"><span>{L_LAST_POST}</span></dd>
					<!-- IF not S_MERGE_SELECT --><dd class="mark">{L_MARK}</dd><!-- ENDIF -->
				</dl>
			</li>
		</ul>
		<ul class="topiclist cplist">

		<!-- BEGIN topicrow -->
		<li class="row<!-- IF topicrow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF --><!-- IF topicrow.S_TOPIC_REPORTED --> reported<!-- ENDIF -->">
			<dl class="icon" style="background-image: url({topicrow.TOPIC_FOLDER_IMG_SRC}); background-repeat: no-repeat;">
				<dt <!-- IF topicrow.TOPIC_ICON_IMG -->style="background-image: url({T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}); background-repeat: no-repeat;"<!-- ENDIF -->>
					<!-- IF topicrow.S_SELECT_TOPIC --><a href="{topicrow.U_SELECT_TOPIC}" class="topictitle">[ {L_SELECT_MERGE} ]</a>&nbsp;&nbsp; <!-- ENDIF -->

				<!-- IF topicrow.TORRENT_LINK -->
					<a href="{topicrow.TORRENT_SRC_LINK}" title="{L_DOWNLOAD_TORRENT}"><img src="{topicrow.TORRENT_DOWNLOAD_SRC_IMG}" alt="{L_DOWNLOAD_TORRENT}" /></a>
					<!-- IF topicrow.TORRENT_MAGNET_LINK --><a href="{topicrow.TORRENT_MAGNET_LINK}" title="{L_TORRENT_MAGNET_LINK}"><img src="{topicrow.TORRENT_MAGNET_SRC_IMG}" alt="{L_TORRENT_MAGNET_LINK}" /></a> <!-- ENDIF -->
				<!-- ENDIF -->
				<!-- IF topicrow.TORRENT_MARK --><b>{topicrow.TORRENT_MARK}</b> <!-- ENDIF -->

					<a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a>
					<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED --><a href="{topicrow.U_MCP_QUEUE}">{topicrow.UNAPPROVED_IMG}</a> <!-- ENDIF -->
					<!-- IF topicrow.S_TOPIC_REPORTED --><a href="{topicrow.U_MCP_REPORT}">{REPORTED_IMG}</a><!-- ENDIF -->
					<!-- IF topicrow.S_MOVED_TOPIC and S_CAN_DELETE -->&nbsp;<a href="{topicrow.U_DELETE_TOPIC}" class="topictitle">[ {L_DELETE_SHADOW_TOPIC} ]</a><!-- ENDIF -->

					<!-- IF topicrow.S_HAS_TORRENT -->
						<!-- IF topicrow.TORRENT_BONUS --><img src="{topicrow.TORRENT_BONUS_SRC_IMG}" alt="{topicrow.TORRENT_BONUS_TEXT}"  title="{topicrow.TORRENT_BONUS_TEXT}"/> <!-- ENDIF -->
						<!-- IF topicrow.TORRENT_FREE --><img src="{topicrow.TORRENT_FREE_SRC_IMG}" alt="{topicrow.TORRENT_FREE_TEXT}"  title="{topicrow.TORRENT_FREE_TEXT}"/> <!-- ENDIF -->
						<!-- IF topicrow.TORRENT_FORB --><img src="{topicrow.TORRENT_FORB_SRC_IMG}" alt="{topicrow.TORRENT_FORB_TEXT}"  title="{topicrow.TORRENT_FORB_TEXT}"/> <!-- ENDIF -->
						<!-- IF topicrow.TORRENT_REQ_UPLOAD --><img src="{topicrow.TORRENT_REQ_UPLOAD_SRC_IMG}" alt="{topicrow.TORRENT_REQ_UPLOAD_TEXT}"  title="{topicrow.TORRENT_REQ_UPLOAD_TEXT}"/> <!-- ENDIF -->
						<!-- IF topicrow.TORRENT_REQ_RATIO --><img src="{topicrow.TORRENT_REQ_RATIO_SRC_IMG}" alt="{topicrow.TORRENT_REQ_RATIO_TEXT}"  title="{topicrow.TORRENT_REQ_RATIO_TEXT}"/> <!-- ENDIF -->
						<!-- IF topicrow.TORRENT_WAIT --><img src="{topicrow.TORRENT_WAIT_SRC_IMG}" alt="{topicrow.TORRENT_WAIT_TEXT}"  title="{topicrow.TORRENT_WAIT_TEXT}"/> <!-- ENDIF -->
					<!-- ENDIF -->

					<br />
					<!-- IF topicrow.TOPIC_DESC -->{topicrow.TOPIC_DESC}<br /><!-- ENDIF -->
					<!-- IF topicrow.PAGINATION --><strong class="pagination"><span>{topicrow.PAGINATION}</span></strong><!-- ENDIF -->
					<!-- IF topicrow.ATTACH_ICON_IMG -->{topicrow.ATTACH_ICON_IMG} <!-- ENDIF -->{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL} &raquo; {topicrow.FIRST_POST_TIME}<!-- IF topicrow.S_HAS_TORRENT -->, {L_TORRENT_SIZE}: <b>{topicrow.TORRENT_SIZE_VAL}</b>, {L_TORRENT_HEALTH}: <b>{topicrow.TORRENT_HEALTH_VAL}</b>%<!-- ENDIF --></dt>
				<dd class="posts" style="line-height:1.5em;">{topicrow.REPLIES} <dfn>{L_REPLIES}</dfn><!-- IF topicrow.S_HAS_TORRENT --><br /><span class="my_tt seed" title="{L_TORRENT_SEEDERS}"><b>{topicrow.TORRENT_SEEDERS_VAL}</b></span>|<span class="my_tt leech" title="{L_TORRENT_LEECHERS}"><b>{topicrow.TORRENT_LEECHERS_VAL}</b></span><!-- ENDIF --></dd>
				<dd class="views" style="line-height:1.5em;">{topicrow.VIEWS} <dfn>{L_VIEWS}</dfn><!-- IF topicrow.S_HAS_TORRENT --><br /><span class="my_tt complet" title="{L_TORRENT_COMPLETED}"><b>{topicrow.TORRENT_COMPLETED_VAL}</b></span><!-- ENDIF --></dd>
				<dd class="lastpost"><span><dfn>{L_LAST_POST} </dfn>{L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL}<br />{topicrow.LAST_POST_TIME}</span>
				</dd>
				<!-- IF not S_MERGE_SELECT -->
				<dd>
					<!-- IF not topicrow.S_MOVED_TOPIC -->&nbsp;<input type="checkbox" name="topic_id_list[]" value="{topicrow.TOPIC_ID}"<!-- IF topicrow.S_TOPIC_CHECKED --> checked="checked"<!-- ENDIF --> /><!-- ELSE -->&nbsp;<!-- ENDIF -->
				</dd>
				<!-- ENDIF -->
			</dl>
		</li>
		<!-- END topicrow -->
		</ul>
	<!-- ELSE -->
		<ul class="topiclist">
			<li><p class="notopics">{L_NO_TOPICS}</p></li>
		</ul>
	<!-- ENDIF -->

	<fieldset class="display-options">
		<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
		<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
		<!-- IF S_SELECT_FORB --><label>{L_DISPLAY_FORB}: <select name="select_forb" id="select_forb">{S_SELECT_FORB}</select></label><!-- ENDIF -->
		<label>{L_DISPLAY_TOPICS}: {S_SELECT_SORT_DAYS}</label>
		<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label>
		<label>{S_SELECT_SORT_DIR} <input type="submit" name="sort" value="{L_GO}" class="button2" /></label>
	</fieldset>

	<hr />

	<!-- IF PAGINATION or TOTAL_TOPICS -->
		<ul class="linklist">
			<li class="rightside pagination">
				<!-- IF TOTAL_TOPICS --> {TOTAL_TOPICS}<!-- ENDIF -->
				<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
			</li>
		</ul>
	<!-- ENDIF -->

	<span class="corners-bottom"><span></span></span></div>
</div>

<fieldset class="display-actions">
	<!-- IF not S_MERGE_SELECT -->
	<select name="action">
		<option value="" selected="selected">{L_SELECT_ACTION}</option>
		<!-- IF S_CAN_DELETE --><option value="delete_topic">{L_DELETE}</option><!-- ENDIF -->
		<!-- IF S_CAN_MERGE --><option value="merge_topics">{L_MERGE}</option><!-- ENDIF -->
		<!-- IF S_CAN_MOVE --><option value="move">{L_MOVE}</option><!-- ENDIF -->
		<!-- IF S_CAN_FORK --><option value="fork">{L_FORK}</option><!-- ENDIF -->
		<!-- IF S_CAN_LOCK --><option value="lock">{L_LOCK}</option><option value="unlock">{L_UNLOCK}</option><!-- ENDIF -->
		<!-- IF S_CAN_SYNC --><option value="resync">{L_RESYNC}</option><!-- ENDIF -->
		<!-- IF S_CAN_MAKE_NORMAL --><option value="make_normal">{L_MAKE_NORMAL}</option><!-- ENDIF -->
		<!-- IF S_CAN_MAKE_STICKY --><option value="make_sticky">{L_MAKE_STICKY}</option><!-- ENDIF -->
		<!-- IF S_CAN_MAKE_ANNOUNCE -->
			<option value="make_announce">{L_MAKE_ANNOUNCE}</option>
			<option value="make_global">{L_MAKE_GLOBAL}</option>
		<!-- ENDIF -->
	</select>
	<input class="button2" type="submit" value="{L_SUBMIT}" />
	<div><a href="#" onclick="marklist('mcp', 'topic_id_list', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('mcp', 'topic_id_list', false); return false;">{L_UNMARK_ALL}</a></div>
	<!-- ENDIF -->
	{S_FORM_TOKEN}
</fieldset>
</form>

<!-- INCLUDE mcp_footer.html -->
