<!-- IF S_IN_SEARCH_POPUP -->
<!-- You should retain this javascript in your own template! -->
<script type="text/javascript">
// <![CDATA[
function insert_user(user)
{
	opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value = ( opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value.length && opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.type == "textarea" ) ? opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value + "\n" + user : user;
}

function insert_marked(users)
{
	if (typeof(users.length) == "undefined")
	{
		if (users.checked)
		{
			insert_user(users.value);
		}
	}
	else if (users.length > 0)
	{
		for (i = 0; i < users.length; i++)
		{
			if (users[i].checked)
			{
				insert_user(users[i].value);
			}
		}
	}

	self.close();
}

function insert_single(user)
{
	opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value = user;
	self.close();
}
// ]]>
</script>
<script type="text/javascript" src="{T_SUPER_TEMPLATE_PATH}/forum_fn.js"></script>
<!-- ENDIF -->

<h2 class="solo">{L_FIND_USERNAME}</h2>

<form method="post" action="{S_MODE_ACTION}" id="search_memberlist">
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<p>{L_FIND_USERNAME_EXPLAIN}</p>

	<fieldset class="fields1 column1">
	<dl>
		<dt><label for="username">{L_USERNAME}:</label></dt>
		<dd><input type="text" name="username" id="username" value="{USERNAME}" class="inputbox" /></dd>
	</dl>
<!-- IF S_EMAIL_SEARCH_ALLOWED -->
	<dl>
		<dt><label for="email">{L_EMAIL}:</label></dt>
		<dd><input type="text" name="email" id="email" value="{EMAIL}" class="inputbox" /></dd>
	</dl>
<!-- ENDIF -->
	<dl>
		<dt><label for="icq">{L_ICQ}:</label></dt>
		<dd><input type="text" name="icq" id="icq" value="{ICQ}" class="inputbox" /></dd>
	</dl>
	<dl>
		<dt><label for="aim">{L_AIM}:</label></dt>
		<dd><input type="text" name="aim" id="aim" value="{AIM}" class="inputbox" /></dd>
	</dl>
	<dl>
		<dt><label for="yahoo">{L_YIM}:</label></dt>
		<dd><input type="text" name="yahoo" id="yahoo" value="{YAHOO}" class="inputbox" /></dd>
	</dl>
	<dl>
		<dt><label for="msn">{L_MSNM}:</label></dt>
		<dd><input type="text" name="msn" id="msn" value="{MSNM}" class="inputbox" /></dd>
	</dl>
	<dl>
		<dt><label for="jabber">{L_JABBER}:</label></dt>
		<dd><input type="text" name="jabber" id="jabber" value="{JABBER}" class="inputbox" /></dd>
	</dl>
	<dl>
		<dt><label for="up">{L_TRACKER_USER_UPLOAD}:</label></dt>
		<dd><select name="up_select">{S_UP_OPTIONS}</select> <input class="inputbox medium" type="text" id="up" name="up" value="{UP}" />&nbsp;<select name="upv">{UPV}</select></dd>
	</dl>
	<dl>
		<dt><label for="down">{L_TRACKER_USER_DOWNLOAD}:</label></dt>
		<dd><select name="down_select">{S_DOWN_OPTIONS}</select> <input class="inputbox medium" type="text" id="down" name="down" value="{DOWN}" />&nbsp;<select name="downv">{DOWNV}</select></dd>
	</dl>
	<!-- IF S_TINFO_BONUS1 --><dl>
		<dt><label for="bonus">{L_TRACKER_USER_BONUS1}:</label></dt>
		<dd><select name="bonus_select">{S_BONUS_OPTIONS}</select> <input class="inputbox medium" type="text" id="bonus" name="bonus" value="{BONUS}" /></dd><!-- ENDIF -->
	</dl>
	</fieldset>

	<fieldset class="fields1 column2">
	<dl>
		<dt><label for="joined">{L_JOINED}:</label></dt>
		<dd><select name="joined_select">{S_JOINED_TIME_OPTIONS}</select> <input class="inputbox medium" type="text" name="joined" id="joined" value="{JOINED}" /></dd>
	</dl>
<!-- IF S_VIEWONLINE -->
	<dl>
		<dt><label for="active">{L_LAST_ACTIVE}:</label></dt>
		<dd><select name="active_select">{S_ACTIVE_TIME_OPTIONS}</select> <input class="inputbox medium" type="text" name="active" id="active" value="{ACTIVE}" /></dd>
	</dl>
<!-- ENDIF -->
	<dl>
		<dt><label for="count">{L_POSTS}:</label></dt>
		<dd><select name="count_select">{S_COUNT_OPTIONS}</select> <input class="inputbox medium" type="text" name="count" id="count" value="{COUNT}" /></dd>
	</dl>
<!-- IF S_IP_SEARCH_ALLOWED -->
	<dl>
		<dt><label for="ip">{L_POST_IP}:</label></dt>
		<dd><select name="ip_select">{S_IP_OPTIONS}</select> <input class="inputbox medium" type="text" name="ip" id="ip" value="{IP}" /></dd>
	</dl>
<!-- ENDIF -->

	<dl>
		<dt><label for="search_group_id">{L_GROUP}:</label></dt>
		<dd><select name="search_group_id" id="search_group_id">{S_GROUP_SELECT}</select></dd>
	</dl>
	<dl>
		<dt><label for="sk" class="label3">{L_SORT_BY}:</label></dt>
		<dd><select name="sk" id="sk">{S_SORT_OPTIONS}</select> <select name="sd">{S_ORDER_SELECT}</select></dd>
	</dl>
	<dl>
		<dt><label for="ratio">{L_TRACKER_USER_RATIO}:</label> ({L_TRACKER_RATIO_ANNOT})</dt>
		<dd><select name="ratio_select">{S_RATIO_OPTIONS}</select> <input class="inputbox medium" type="text" id="ratio" name="ratio" value="{RATIO}" /></dd>
	</dl>
	<!-- IF S_TINFO_TORRENTS --><dl>
		<dt><label for="torrents">{L_TRACKER_USER_TORRENTS}:</label></dt>
		<dd><select name="torrents_select">{S_TORRENTS_OPTIONS}</select> <input class="inputbox medium" type="text" id="torrents" name="torrents" value="{TORRENTS}" /></dd>
	</dl><!-- ENDIF -->
	<!-- IF S_TINFO_COMMENTS --><dl>
		<dt><label for="comments">{L_TRACKER_USER_COMMENTS}:</label></dt>
		<dd><select name="comments_select">{S_COMMENTS_OPTIONS}</select> <input class="inputbox medium" type="text" id="comments" name="comments" value="{COMMENTS}" /></dd>
	</dl><!-- ENDIF -->
	</fieldset>

	<div class="clear"></div>

	<hr />
	<fieldset class="submit-buttons">
		<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
		<input type="submit" name="submit" value="{L_SEARCH}" class="button1" />
		{S_FORM_TOKEN}
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>

</form>
