<!-- INCLUDE overall_header.html -->

<h2>{PAGE_TITLE}</h2>

<form method="post" action="{S_PROFILE_ACTION}" id="viewprofile">
<div class="panel bg1<!-- IF S_ONLINE --> online<!-- ENDIF -->">
	<div class="inner"><span class="corners-top"><span></span></span>

	<!-- IF AVATAR_IMG -->
		<dl class="left-box">
			<dt>{AVATAR_IMG}</dt>
			<!-- IF RANK_TITLE --><dd style="text-align: center;">{RANK_TITLE}</dd><!-- ENDIF -->
			<!-- IF RANK_IMG --><dd style="text-align: center;">{RANK_IMG}</dd><!-- ENDIF -->
		</dl>
	<!-- ENDIF -->

	<dl class="left-box details" style="width: 80%;">
		<dt>{L_USERNAME}:</dt>
		<dd>
			<!-- IF USER_COLOR --><span style="color: {USER_COLOR}; font-weight: bold;"><!-- ELSE --><span><!-- ENDIF -->{USERNAME}</span>
			<!-- IF U_USER_ADMIN --> [ <a href="{U_USER_ADMIN}">{L_USER_ADMIN}</a> ]<!-- ENDIF -->
			<!-- IF U_USER_BAN --> [ <a href="{U_USER_BAN}">{L_USER_BAN}</a> ]<!-- ENDIF -->
			<!-- IF U_SWITCH_PERMISSIONS --> [ <a href="{U_SWITCH_PERMISSIONS}">{L_USE_PERMISSIONS}</a> ]<!-- ENDIF -->

		</dd>
		<!-- IF not AVATAR_IMG -->
			<!-- IF RANK_TITLE --><dt>{L_RANK}:</dt> <dd>{RANK_TITLE}</dd><!-- ENDIF -->
			<!-- IF RANK_IMG --><dt><!-- IF RANK_TITLE -->&nbsp;<!-- ELSE -->{L_RANK}:<!-- ENDIF --></dt> <dd>{RANK_IMG}</dd><!-- ENDIF -->
		<!-- ENDIF -->
		<!-- IF S_USER_INACTIVE --><dt>{L_USER_IS_INACTIVE}:</dt> <dd>{USER_INACTIVE_REASON}</dd><!-- ENDIF -->
		<!-- IF LOCATION --><dt>{L_LOCATION}:</dt> <dd>{LOCATION}</dd><!-- ENDIF -->
		<!-- IF AGE !== '' --><dt>{L_AGE}:</dt> <dd>{AGE}</dd><!-- ENDIF -->
		<!-- IF OCCUPATION --><dt>{L_OCCUPATION}:</dt> <dd>{OCCUPATION}</dd><!-- ENDIF -->
		<!-- IF INTERESTS --><dt>{L_INTERESTS}:</dt> <dd>{INTERESTS}</dd><!-- ENDIF -->
		<!-- IF S_GROUP_OPTIONS --><dt>{L_USERGROUPS}:</dt> <dd><select name="g">{S_GROUP_OPTIONS}</select> <input type="submit" name="submit" value="{L_GO}" class="button2" /></dd><!-- ENDIF -->
		<!-- BEGIN custom_fields --><dt>{custom_fields.PROFILE_FIELD_NAME}:</dt> <dd>{custom_fields.PROFILE_FIELD_VALUE}</dd><!-- END custom_fields -->
		<!-- IF S_USER_LOGGED_IN and S_ZEBRA -->
			<!-- IF U_REMOVE_FRIEND -->
				<dt>&nbsp;</dt> <dd><a href="{U_REMOVE_FRIEND}"><strong>{L_REMOVE_FRIEND}</strong></a></dd>
			<!-- ELSEIF U_REMOVE_FOE -->
				<dt>&nbsp;</dt> <dd><a href="{U_REMOVE_FOE}"><strong>{L_REMOVE_FOE}</strong></a></dd>
			<!-- ELSE -->
				<!-- IF U_ADD_FRIEND -->
					<dt>&nbsp;</dt> <dd><a href="{U_ADD_FRIEND}"><strong>{L_ADD_FRIEND}</strong></a></dd>
				<!-- ENDIF -->
				<!-- IF U_ADD_FOE -->
					<dt>&nbsp;</dt> <dd><a href="{U_ADD_FOE}"><strong>{L_ADD_FOE}</strong></a></dd>
				<!-- ENDIF -->
			<!-- ENDIF -->
		<!-- ENDIF -->
	</dl>

	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel bg2">
	<div class="inner"><span class="corners-top"><span></span></span>
	<div class="column1">

		<h3>{L_CONTACT_USER} {USERNAME}</h3>

		<dl class="details">
		<!-- IF U_EMAIL --><dt>{L_EMAIL_ADDRESS}:</dt> <dd><a href="{U_EMAIL}">{L_SEND_EMAIL_USER} {USERNAME}</a></dd><!-- ENDIF -->
		<!-- IF U_WWW --><dt>{L_WEBSITE}:</dt> <dd><a href="{U_WWW}" title="{L_VISIT_WEBSITE}: {U_WWW}">{U_WWW}</a></dd><!-- ENDIF -->
		<!-- IF U_PM --><dt>{L_PM}:</dt> <dd><a href="{U_PM}">{L_SEND_PRIVATE_MESSAGE}</a></dd><!-- ENDIF -->
		<!-- IF U_MSN or USER_MSN --><dt>{L_MSNM}:</dt> <dd><!-- IF U_MSN --><a href="{U_MSN}" onclick="popup(this.href, 550, 320); return false;">{L_SEND_MSNM_MESSAGE}</a><!-- ELSE -->{USER_MSN}<!-- ENDIF --></dd><!-- ENDIF -->
		<!-- IF U_YIM or USER_YIM --><dt>{L_YIM}:</dt> <dd><!-- IF U_YIM --><a href="{U_YIM}" onclick="popup(this.href, 780, 550); return false;">{L_SEND_YIM_MESSAGE}</a><!-- ELSE -->{USER_YIM}<!-- ENDIF --></dd><!-- ENDIF -->
		<!-- IF U_AIM or USER_AIM --><dt>{L_AIM}:</dt> <dd><!-- IF U_AIM --><a href="{U_AIM}" onclick="popup(this.href, 550, 320); return false;">{L_SEND_AIM_MESSAGE}</a><!-- ELSE -->{USER_AIM}<!-- ENDIF --></dd><!-- ENDIF -->
		<!-- IF U_ICQ or USER_ICQ --><dt>{L_ICQ}:</dt> <dd><!-- IF U_ICQ --><a href="{U_ICQ}" onclick="popup(this.href, 550, 320); return false;">{L_SEND_ICQ_MESSAGE}</a><!-- ELSE -->{USER_ICQ}<!-- ENDIF --></dd><!-- ENDIF -->
		<!-- IF U_JABBER and S_JABBER_ENABLED --><dt>{L_JABBER}:</dt> <dd><a href="{U_JABBER}" onclick="popup(this.href, 550, 320); return false;">{L_SEND_JABBER_MESSAGE}</a></dd><!-- ELSEIF USER_JABBER --><dt>{L_JABBER}:</dt> <dd>{USER_JABBER}</dd><!-- ENDIF -->
		<!-- IF S_PROFILE_FIELD1 -->
			<!-- NOTE: Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
			<dt>{PROFILE_FIELD1_NAME}:</dt> <dd>{PROFILE_FIELD1_VALUE}</dd>
		<!-- ENDIF -->
		</dl>
	</div>

	<div class="column2">
		<h3>{L_USER_FORUM}</h3>
		<dl class="details">
			<dt>{L_JOINED}:</dt> <dd>{JOINED}</dd>
			<dt>{L_VISITED}:</dt> <dd>{VISITED}</dd>
			<!-- IF S_WARNINGS -->
			<dt>{L_WARNINGS}: </dt>
			<dd><strong>{WARNINGS}</strong><!-- IF U_NOTES or U_WARN --> [ <!-- IF U_NOTES --><a href="{U_NOTES}">{L_VIEW_NOTES}</a><!-- ENDIF --> <!-- IF U_WARN --><!-- IF U_NOTES --> | <!-- ENDIF --><a href="{U_WARN}">{L_WARN_USER}</a><!-- ENDIF --> ]<!-- ENDIF --></dd>
			<!-- ENDIF -->
			<dt>{L_TOTAL_POSTS}:</dt>
				<dd>{POSTS} <!-- IF S_DISPLAY_SEARCH -->| <strong><a href="{U_SEARCH_USER}">{L_SEARCH_USER_POSTS}</a></strong><!-- ENDIF -->
					<!-- IF POSTS_PCT --><br />({POSTS_PCT} / {POSTS_DAY})<!-- ENDIF -->
					<!-- IF POSTS_IN_QUEUE and U_MCP_QUEUE --><br />(<a href="{U_MCP_QUEUE}">{L_POSTS_IN_QUEUE}</a>)<!-- ELSEIF POSTS_IN_QUEUE --><br />({L_POSTS_IN_QUEUE})<!-- ENDIF -->
				</dd>
			<!-- IF S_SHOW_ACTIVITY and POSTS -->
				<dt>{L_ACTIVE_IN_FORUM}:</dt> <dd><!-- IF ACTIVE_FORUM != '' --><strong><a href="{U_ACTIVE_FORUM}">{ACTIVE_FORUM}</a></strong><br />({ACTIVE_FORUM_POSTS} / {ACTIVE_FORUM_PCT})<!-- ELSE --> - <!-- ENDIF --></dd>
				<dt>{L_ACTIVE_IN_TOPIC}:</dt> <dd><!-- IF ACTIVE_TOPIC != '' --><strong><a href="{U_ACTIVE_TOPIC}">{ACTIVE_TOPIC}</a></strong><br />({ACTIVE_TOPIC_POSTS} / {ACTIVE_TOPIC_PCT})<!-- ELSE --> - <!-- ENDIF --></dd>
			<!-- ENDIF -->
		</dl>
	</div>
	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- IF SIGNATURE -->
<div class="panel bg1">
	<div class="inner"><span class="corners-top"><span></span></span>

		<h3>{L_SIGNATURE}</h3>

		<div class="postbody"><div class="signature" style="border-top:none; margin-top: 0;">{SIGNATURE}</div></div>

	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<!-- IF TRACKER_INFO_OPT -->
<div class="panel bg1">
	<div class="inner"><span class="corners-top"><span></span></span>

		<h3>{L_TRACKER_USER_DATA}</h3>

		<div>
			<table class="table1" cellspacing="1" cellpadding="0" width="100%">
			<tr class="bg1">
				<td align="center"><!-- IF S_TINFO_TORRENTS -->{L_TRACKER_USER_TORRENTS}: <a href="{U_TRACKER_USER_TORRENTS}"><b>{TRACKER_USER_TORRENTS}</b></a><!-- ENDIF --></td>
				<td align="center"><!-- IF S_TINFO_COMMENTS -->{L_TRACKER_USER_COMMENTS}: <a href="{U_TRACKER_USER_COMMENTS}"><b>{TRACKER_USER_COMMENTS}</b></a><!-- ENDIF --></td>
				<td align="center">{L_TRACKER_USER_RATIO}: <b>{TRACKER_USER_RATIO}</b></td>
				<td align="center">{L_TRACKER_USER_UPLOAD}: <b>{TRACKER_USER_UPLOAD}</b> (<a class="my_tt" title="{L_TRACKER_USER_UPLOAD_SELF}" href="#">{TRACKER_USER_UPLOAD_SELF}</a>)</td>
				<td align="center">{L_TRACKER_USER_DOWNLOAD}: <b>{TRACKER_USER_DOWNLOAD}</b></td>
			</tr>
			<tr class="bg1">
				<td align="center"><!-- IF S_TINFO_THANKS -->{L_TRACKER_USER_YTHANKS}: <b>{TRACKER_USER_YTHANKS}</b><!-- ENDIF --></td>
				<td align="center"><!-- IF S_TINFO_THANKS -->{L_TRACKER_USER_TYTHANKS}: <b>{TRACKER_USER_TYTHANKS}</b><!-- ENDIF --></td>
				<td align="center">{L_TRACKER_USER_RRATIO}: <b>{TRACKER_USER_RRATIO}</b></td>
				<td align="center">&nbsp;</td>
				<td align="center">{L_TRACKER_USER_REALDOWNLOAD}: <b>{TRACKER_USER_REALDOWNLOAD}</b></td>
			</tr>
			<tr class="bg1">
				<td align="center">&nbsp;</td>
				<td align="center">&nbsp;</td>
				<td align="center"><!-- IF S_TINFO_BONUS1 -->{L_TRACKER_USER_BONUS1}: <b>{TRACKER_USER_BONUS}</b><!-- ENDIF --></td>
				<td align="center">&nbsp;</td>
				<td align="center">&nbsp;</td>
			</tr>
			</table>
		</div>

	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<!-- IF TORRENT_INFO_OPT -->
<div class="panel bg1">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{L_TORRENT_USER_DATA}</h3>
		<div>
			<table width="100%" cellpadding="0" cellspacing="1">
				<tr class="bg1">
					<td align="center"><a name="opt"></a> {TORRENT_INFO_OPT}<!-- IF S_HAS_TORRENT_EXPLAIN -->&nbsp;<span id="c_torrent_close">[<a onclick="javascript:toggle_block('c_torrent_stat');" href="javascript:;" title="{L_CLOSE}">x</a>]</span><!-- ENDIF --></td>
				</tr>
				<tr class="bg1" id="c_torrent_stat">
					<td>
						<!-- IF S_HAS_TORRENT_EXPLAIN -->
						<link rel="stylesheet" href="{PPKBB3CKER_ADDONS}css/dataTables.css" type="text/css" />
						<style type="text/css">
						 a.my_ath:link, a.my_ath:visited
						{
							font-weight: normal;
							color: #105289 !important;
							float: left;
							border-bottom-width: 1px;
							border-bottom-style: dotted;
							text-decoration: none;
							text-transform: uppercase;
						}
						</style>
						<script src="{PPKBB3CKER_ADDONS}js/dataTables.min.js" type="text/javascript"></script>
						<script src="{PPKBB3CKER_ADDONS}js/dataTables.ext.js" type="text/javascript"></script>
							<!-- INCLUDE mua_torrents_explain.html -->
						<!-- ENDIF -->
					</td>
				</tr>
			</table>
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

</form>

<!-- INCLUDE jumpbox.html -->

<!-- INCLUDE overall_footer.html -->
