<div class="post <!-- IF S_PRIVMSGS -->pm<!-- ELSE -->bg2<!-- ENDIF -->" id="preview">
	<div class="inner"><span class="corners-top"><span></span></span>

<!-- IF S_HAS_POLL_OPTIONS -->
	<div class="content">
		<h2>{L_PREVIEW}: {POLL_QUESTION}</h2>
		<p class="author"><!-- IF L_POLL_LENGTH -->{L_POLL_LENGTH}<br /><!-- ENDIF -->{L_MAX_VOTES}</p>

		<fieldset class="polls">
		<!-- BEGIN poll_option -->
			<dl>
				<dt><label for="vote_{poll_option.POLL_OPTION_ID}">{poll_option.POLL_OPTION_CAPTION}</label></dt>
				<dd style="width: auto;"><!-- IF S_IS_MULTI_CHOICE --><input type="checkbox" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> /><!-- ELSE --><input type="radio" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> /><!-- ENDIF --></dd>
			</dl>
		<!-- END poll_option -->
		</fieldset>
	</div>

	<span class="corners-bottom"><span></span></span></div>
</div>


<div class="post bg2">
	<div class="inner"><span class="corners-top"><span></span></span>

<!-- ENDIF -->

	<div class="postbody" style="width:100%;">
		<h3>{L_PREVIEW}: {PREVIEW_SUBJECT}</h3>

		<div class="content">

			<!-- IF S_HAS_TRACKER_POSTER or S_HAS_TRACKER_SCREENSHOT -->
			<div style="float:right;margin:0px 0px 10px 10px;">
				<div class="tabber" id="tabber1">
					<ul class="c">
						<!-- IF S_HAS_TRACKER_POSTER --><li>{L_ATTACHMENTS_POSTER}</li><!-- ENDIF -->
						<!-- IF S_HAS_TRACKER_SCREENSHOT --><li>{L_ATTACHMENTS_SCREENSHOT}</li><!-- ENDIF -->
					</ul>
					<!-- IF S_HAS_TRACKER_POSTER -->
					<div class="t">
						<div class="poster_sl">
							<div id="sliderPoster" style="margin:0px auto;width:{POSTERS_TABLE_WIDTH}px;height:auto;overflow:hidden;">
								<ul style="margin-left:5px;">
								<!-- BEGIN torrent_poster_fields -->
									<li style="margin:0px;width:{POSTERS_TABLE_WIDTH}px;height:auto;overflow:hidden;list-style:none;">
										<a href="{torrent_poster_fields.POSTER_LINK}" rel="prettyPhotoPosters<!-- IF TRACKER_POSTERS_COUNT -->[0]<!-- ENDIF -->"><img <!-- IF torrent_poster_fields.POSTER_WH_WIDTH -->width="{torrent_poster_fields.POSTER_WH_WIDTH}"<!-- ELSE -->height="{torrent_poster_fields.POSTER_WH_HEIGHT}"<!-- ENDIF --> src="{torrent_poster_fields.POSTER_SRC}" alt="" /></a>
										<!-- IF torrent_poster_fields.POSTER_FORUM -->
										<br /><a href="{torrent_poster_fields.POSTER_LINK}" title="{torrent_poster_fields.POSTER_FILENAME}">{torrent_poster_fields.POSTER_SHORTNAME}</a>
										<br  />[ {L_TORRENT_SIZE} <b>{torrent_poster_fields.POSTER_FILESIZE}</b> {torrent_poster_fields.POSTER_SIZE_LANG} / {L_TORRENT_VIEWED} <b>{torrent_poster_fields.POSTER_DOWNLOADED}</b> ]
										<!-- IF torrent_poster_fields.POSTER_COMMENT --><br />({L_FILE_COMMENT}: {torrent_poster_fields.POSTER_COMMENT})<!-- ENDIF -->
										<!-- ENDIF -->
									</li>
								<!-- END torrent_poster_fields -->
								</ul>
							</div>
						</div>
					</div>
					<!-- ENDIF -->
					<!-- IF S_HAS_TRACKER_SCREENSHOT -->
					<div class="t">
						<div class="screenshot_sl">
							<div id="sliderScreen" style="margin:0px auto;width:{SCREENSHOTS_TABLE_WIDTH}px;height:auto;overflow:hidden;">
								<ul style="margin-left:5px;">
								<!-- BEGIN torrent_screenshot_fields -->
									<li style="margin:0px;width:{SCREENSHOTS_TABLE_WIDTH}px;height:auto;overflow:hidden;list-style:none;">
										<a href="{torrent_screenshot_fields.SCREENSHOT_LINK}" rel="prettyPhotoSscreenshots<!-- IF TRACKER_SCREENSHOTS_COUNT -->[0]<!-- ENDIF -->"><img <!-- IF torrent_screenshot_fields.SCREENSHOT_WH_WIDTH -->width="{torrent_screenshot_fields.SCREENSHOT_WH_WIDTH}"<!-- ELSE -->height="{torrent_screenshot_fields.SCREENSHOT_WH_HEIGHT}"<!-- ENDIF --> src="{torrent_screenshot_fields.SCREENSHOT_SRC}" alt="" /></a>
										<!-- IF torrent_screenshot_fields.SCREENSHOT_FORUM -->
										<br /><a href="{torrent_screenshot_fields.SCREENSHOT_LINK}" title="{torrent_screenshot_fields.SCREENSHOT_FILENAME}">{torrent_screenshot_fields.SCREENSHOT_SHORTNAME}</a>
										<br  />[ {L_TORRENT_SIZE} <b>{torrent_screenshot_fields.SCREENSHOT_FILESIZE}</b> / {L_TORRENT_VIEWED} <b>{torrent_screenshot_fields.SCREENSHOT_DOWNLOADED}</b> ]
										<!-- IF torrent_screenshot_fields.SCREENSHOT_COMMENT --><br />({L_FILE_COMMENT}: {torrent_screenshot_fields.SCREENSHOT_COMMENT})<!-- ENDIF -->
										<!-- ENDIF -->
									</li>
								<!-- END torrent_screenshot_fields -->
								</ul>
							</div>
						</div>
					</div>
					<!-- ENDIF -->
				</div>
			</div>
			<!-- ENDIF -->

			{PREVIEW_MESSAGE}
		</div>

		<!-- IF .attachment -->
		<dl class="attachbox">
			<dt>{L_ATTACHMENTS}</dt>
			<!-- BEGIN attachment -->
			<dd>{attachment.DISPLAY_ATTACHMENT}</dd>
			<!-- END attachment -->
		</dl>
		<!-- ENDIF -->

		<!-- IF PREVIEW_SIGNATURE --><div class="signature">{PREVIEW_SIGNATURE}</div><!-- ENDIF -->
	</div>

	<span class="corners-bottom"><span></span></span></div>
</div>


<!-- IF S_HAS_TRACKER_TORRENT -->
<div class="panel" id="torrblock">
	<div class="inner"><span class="corners-top"><span></span></span>
	<table width="100%" class="torrblock">
		<tr>
			<td valign="top" width="100%">
				<div id="c_set_error" style="text-align:center;color:#FF0000;font-weight:bold;"></div>
				<div class="tabber" id="tabber2">
					<ul class="c">
						<!-- IF S_HAS_TRACKER_TORRENT --><li>{L_ATTACHMENTS_TORRENT}</li><!-- ENDIF -->
					</ul>
					<!-- IF S_HAS_TRACKER_TORRENT -->
					<div class="t">
						<div class="torrent_sl" style="line-height:1.3em;">
							<table width="100%"><tr>
							<!-- IF S_HAS_TRACKER_TORRENT -->
							<td align="center" style="line-height:1.3em;"<!-- IF TORRENT_INFO_STAT --> width="30%"<!-- ENDIF -->>
								<!-- IF S_HAS_TRACKER_TORRENT -->
									<!-- BEGIN torrent_fields -->
										<!-- IF FORUM_IMAGE --><img src="{FORUM_IMAGE}" alt="{FORUM_NAME}" title="{FORUM_NAME}" /> <!-- ENDIF -->
										<!-- IF torrent_fields.TORRENT_BONUS --><img src="{torrent_fields.TORRENT_BONUS_SRC_IMG}" alt="{torrent_fields.TORRENT_BONUS_TEXT}"  title="{torrent_fields.TORRENT_BONUS_TEXT}"/> <!-- ENDIF -->
										<!-- IF torrent_fields.TORRENT_FREE --><img src="{torrent_fields.TORRENT_FREE_SRC_IMG}" alt="{torrent_fields.TORRENT_FREE_TEXT}"  title="{torrent_fields.TORRENT_FREE_TEXT}"/> <!-- ENDIF -->
										<!-- IF torrent_fields.TORRENT_FORB --><img src="{torrent_fields.TORRENT_FORB_SRC_IMG}" alt="{torrent_fields.TORRENT_FORB_TEXT}"  title="{torrent_fields.TORRENT_FORB_TEXT}"/> <!-- ENDIF -->
										<!-- IF torrent_fields.TORRENT_REQ_UPLOAD --><img src="{torrent_fields.TORRENT_REQ_UPLOAD_SRC_IMG}" alt="{torrent_fields.TORRENT_REQ_UPLOAD_TEXT}"  title="{torrent_fields.TORRENT_REQ_UPLOAD_TEXT}"/> <!-- ENDIF -->
										<!-- IF torrent_fields.TORRENT_REQ_RATIO --><img src="{torrent_fields.TORRENT_REQ_RATIO_SRC_IMG}" alt="{torrent_fields.TORRENT_REQ_RATIO_TEXT}"  title="{torrent_fields.TORRENT_REQ_RATIO_TEXT}"/> <!-- ENDIF -->
										<!-- IF torrent_fields.TORRENT_WAIT --><img src="{torrent_fields.TORRENT_WAIT_SRC_IMG}" alt="{torrent_fields.TORRENT_WAIT_TEXT}"  title="{torrent_fields.TORRENT_WAIT_TEXT}"/> <!-- ENDIF -->
										<!-- IF torrent_fields.TORRENT_LINK -->
											<a href="{torrent_fields.TORRENT_SRC_LINK}" title="{L_DOWNLOAD_TORRENT}"><img src="{torrent_fields.TORRENT_DOWNLOAD_SRC_IMG}" alt="{L_DOWNLOAD_TORRENT}" /></a>
											<!-- IF torrent_fields.TORRENT_MAGNET_LINK --><a href="{torrent_fields.TORRENT_MAGNET_LINK}" title="{L_TORRENT_MAGNET_LINK}"><img src="{torrent_fields.TORRENT_MAGNET_SRC_IMG}" alt="{L_TORRENT_MAGNET_LINK}" /></a> <!-- ENDIF -->
										<!-- ENDIF -->
										<br /><!-- IF torrent_fields.TORRENT_LINK --><a href="{torrent_fields.TORRENT_SRC_LINK}" title="{torrent_fields.TORRENT_FILENAME}">{L_DOWNLOAD_TORRENT}</a><!-- ELSE -->{torrent_fields.TORRENT_SHORTNAME}<!-- ENDIF -->
										<br  />[ {L_TORRENT_SIZE} <b>{torrent_fields.TORRENT_FILESIZE}</b> / {L_TORRENT_VIEWED} <b>{torrent_fields.TORRENT_DOWNLOADED}</b> ]
										<!-- IF torrent_fields.TORRENT_COMMENT --><br />({L_FILE_COMMENT}: {torrent_fields.TORRENT_COMMENT})<!-- ENDIF -->
									<!-- END torrent_fields -->
								<!-- ENDIF -->

							</td><!-- ENDIF --></tr>
							</table>
						</div>
					</div>
					<!-- ENDIF -->

				</div>
			</td>
		</tr>
	</table>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<hr />
