<!-- INCLUDE overall_header.html -->

<h2><!-- IF SEARCH_TITLE -->{SEARCH_TITLE}<!-- ELSE -->{SEARCH_MATCHES}<!-- ENDIF --><!-- IF SEARCH_WORDS -->: <a href="{U_SEARCH_WORDS}">{SEARCH_WORDS}</a><!-- ENDIF --></h2>
<!-- IF SEARCHED_QUERY --> <p>{L_SEARCHED_QUERY}: <strong>{SEARCHED_QUERY}</strong></p><!-- ENDIF -->
<!-- IF IGNORED_WORDS --> <p>{L_IGNORED_TERMS}: <strong>{IGNORED_WORDS}</strong></p><!-- ENDIF -->

<!-- IF SEARCH_TOPIC -->
	<p><a class="{S_CONTENT_FLOW_BEGIN}" href="{U_SEARCH_TOPIC}">{L_RETURN_TO}: {SEARCH_TOPIC}</a></p>
<!-- ELSE -->
	<p><a class="{S_CONTENT_FLOW_BEGIN}" href="{U_SEARCH}" title="{L_SEARCH_ADV}">{L_RETURN_TO_SEARCH_ADV}</a></p>
<!-- ENDIF -->

<!-- IF PAGINATION or SEARCH_MATCHES or PAGE_NUMBER -->
	<form method="post" action="{S_SEARCH_ACTION}">

	<div class="topic-actions">

	<!-- IF SEARCH_MATCHES -->
		<div class="search-box">
			<!-- IF SEARCH_IN_RESULTS -->
				<label for="add_keywords">{L_SEARCH_IN_RESULTS}: <input type="text" name="add_keywords" id="add_keywords" value="" class="inputbox narrow" /></label>
				<input class="button2" type="submit" name="submit" value="{L_SEARCH}" />
				<!-- IF U_TRSEARCH -->
				&nbsp;<select name="tracker_search"><option value="torrent"<!-- IF S_SEARCH_ASTRACKER --> selected="selected"<!-- ENDIF -->>{L_TRACKER_SEARCHED_TORRENT}</option><option value="comment">{L_TRACKER_SEARCHED_COMMENT}</option><option value="all"<!-- IF not S_SEARCH_ASTRACKER --> selected="selected"<!-- ENDIF -->>{L_TRACKER_SEARCHED_ALL}</option></select>&nbsp;<input title="{L_DISPLAY_RESULTS} {L_TOPICS}" type="checkbox" name="sr" value="topics"<!-- IF S_SEARCH_ASTRACKER --> checked="checked"<!-- ENDIF --> /> {L_TOPICS}
				<!-- ENDIF -->
			<!-- ENDIF -->
		</div>
	<!-- ENDIF -->

		<div class="rightside pagination">
			{SEARCH_MATCHES}<!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF -->
		</div>
	</div>

	</form>
<!-- ENDIF -->
<!-- IF S_SHOW_TOPICS -->

	<!-- IF .searchresults -->
	<div class="forumbg">

		<div class="inner"><span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt>{L_TOPICS}</dt>
					<dd class="posts">{L_REPLIES}</dd>
					<dd class="views">{L_VIEWS}</dd>
					<dd class="lastpost"><span>{L_LAST_POST}</span></dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist topics">

		<!-- BEGIN searchresults -->
			<li class="row<!-- IF searchresults.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
				<dl class="icon" style="background-image: url({searchresults.TOPIC_FOLDER_IMG_SRC}); background-repeat: no-repeat;">
					<dt <!-- IF searchresults.TOPIC_ICON_IMG -->style="background-image: url({T_ICONS_PATH}{searchresults.TOPIC_ICON_IMG}); background-repeat: no-repeat;"<!-- ENDIF -->>
						<!-- IF searchresults.TOPIC_FORUM_IMG --><img src="{searchresults.TOPIC_FORUM_IMG}" alt="{searchresults.FORUM_TITLE}" title="{searchresults.FORUM_TITLE}" /> <!-- ENDIF -->

						 <!-- IF searchresults.TORRENT_LINK -->
							<a href="{searchresults.TORRENT_SRC_LINK}" title="{L_DOWNLOAD_TORRENT}"><img src="{searchresults.TORRENT_DOWNLOAD_SRC_IMG}" alt="{L_DOWNLOAD_TORRENT}" /></a>
							<!-- IF searchresults.TORRENT_MAGNET_LINK --><a href="{searchresults.TORRENT_MAGNET_LINK}" title="{L_TORRENT_MAGNET_LINK}"><img src="{searchresults.TORRENT_MAGNET_SRC_IMG}" alt="{L_TORRENT_MAGNET_LINK}" /></a> <!-- ENDIF -->
						<!-- ENDIF -->
						<!-- IF searchresults.TORRENT_MARK --><b>{searchresults.TORRENT_MARK}</b> <!-- ENDIF -->

						<!-- IF searchresults.S_UNREAD_TOPIC --><a href="{searchresults.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF --><a href="{searchresults.U_VIEW_TOPIC}" class="topictitle">{searchresults.TOPIC_TITLE}</a>
						<!-- IF searchresults.S_TOPIC_UNAPPROVED or searchresults.S_POSTS_UNAPPROVED --><a href="{searchresults.U_MCP_QUEUE}">{searchresults.UNAPPROVED_IMG}</a> <!-- ENDIF -->
						<!-- IF searchresults.S_TOPIC_REPORTED --><a href="{searchresults.U_MCP_REPORT}">{REPORTED_IMG}</a><!-- ENDIF -->

						<!-- IF searchresults.TORRENT_BONUS --><img src="{searchresults.TORRENT_BONUS_SRC_IMG}" alt="{searchresults.TORRENT_BONUS_TEXT}"  title="{searchresults.TORRENT_BONUS_TEXT}"/> <!-- ENDIF -->
						<!-- IF searchresults.TORRENT_FREE --><img src="{searchresults.TORRENT_FREE_SRC_IMG}" alt="{searchresults.TORRENT_FREE_TEXT}"  title="{searchresults.TORRENT_FREE_TEXT}"/> <!-- ENDIF -->
						<!-- IF searchresults.TORRENT_FORB --><img src="{searchresults.TORRENT_FORB_SRC_IMG}" alt="{searchresults.TORRENT_FORB_TEXT}"  title="{searchresults.TORRENT_FORB_TEXT}"/> <!-- ENDIF -->
						<!-- IF searchresults.TORRENT_REQ_UPLOAD --><img src="{searchresults.TORRENT_REQ_UPLOAD_SRC_IMG}" alt="{searchresults.TORRENT_REQ_UPLOAD_TEXT}"  title="{searchresults.TORRENT_REQ_UPLOAD_TEXT}"/> <!-- ENDIF -->
						<!-- IF searchresults.TORRENT_REQ_RATIO --><img src="{searchresults.TORRENT_REQ_RATIO_SRC_IMG}" alt="{searchresults.TORRENT_REQ_RATIO_TEXT}"  title="{searchresults.TORRENT_REQ_RATIO_TEXT}"/> <!-- ENDIF -->
						<!-- IF searchresults.TORRENT_WAIT --><img src="{searchresults.TORRENT_WAIT_SRC_IMG}" alt="{searchresults.TORRENT_WAIT_TEXT}"  title="{searchresults.TORRENT_WAIT_TEXT}"/> <!-- ENDIF -->
						<br />
						<!-- IF searchresults.TOPIC_DESC -->{searchresults.TOPIC_DESC}<br /><!-- ENDIF -->
						<!-- IF searchresults.PAGINATION --><strong class="pagination"><span>{searchresults.PAGINATION}</span></strong><!-- ENDIF -->
						{L_POST_BY_AUTHOR} {searchresults.TOPIC_AUTHOR_FULL} &raquo; {searchresults.FIRST_POST_TIME}
						<!-- IF not searchresults.S_TOPIC_GLOBAL -->{L_IN} <a href="{searchresults.U_VIEW_FORUM}">{searchresults.FORUM_TITLE}</a><!-- ELSE --> ({L_GLOBAL})<!-- ENDIF --><!-- IF searchresults.S_HAS_TORRENT -->, {L_TORRENT_SIZE}: <b>{searchresults.TORRENT_SIZE_VAL}</b>, {L_TORRENT_HEALTH}: <b>{searchresults.TORRENT_HEALTH_VAL}</b>%<!-- ENDIF -->
					</dt>
					<dd class="posts" style="line-height:1.5em;">{searchresults.TOPIC_REPLIES}<!-- IF searchresults.S_HAS_TORRENT --><br /><span class="my_tt seed" title="{L_TORRENT_SEEDERS}"><b>{searchresults.TORRENT_SEEDERS_VAL}</b></span>|<span class="my_tt leech" title="{L_TORRENT_LEECHERS}"><b>{searchresults.TORRENT_LEECHERS_VAL}</b></span><!-- ENDIF --></dd>
					<dd class="views" style="line-height:1.5em;">{searchresults.TOPIC_VIEWS}<!-- IF searchresults.S_HAS_TORRENT --><br /><span class="my_tt complet" title="{L_TORRENT_COMPLETED}"><b>{searchresults.TORRENT_COMPLETED_VAL}</b></span><!-- ENDIF --></dd>
					<dd class="lastpost"><span>
						{L_POST_BY_AUTHOR} {searchresults.LAST_POST_AUTHOR_FULL}
						<!-- IF not S_IS_BOT --><a href="{searchresults.U_LAST_POST}">{LAST_POST_IMG}</a> <!-- ENDIF --><br />{searchresults.LAST_POST_TIME}<br /> </span>
					</dd>
				</dl>
			</li>
		<!-- END searchresults -->
		</ul>

		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- ELSE -->
		<div class="panel">
			<div class="inner"><span class="corners-top"><span></span></span>
			<strong>{L_NO_SEARCH_RESULTS}</strong>
			<span class="corners-bottom"><span></span></span></div>
		</div>
	<!-- ENDIF -->

<!-- ELSE -->

	<!-- BEGIN searchresults -->
		<div class="search post <!-- IF searchresults.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF --><!-- IF searchresults.S_POST_REPORTED --> reported<!-- ENDIF -->">
			<div class="inner"><span class="corners-top"><span></span></span>

	<!-- IF searchresults.S_IGNORE_POST -->
		<div class="postbody">
			{searchresults.L_IGNORE_POST}
		</div>
	<!-- ELSE -->
		<div class="postbody">
			<h3><a href="{searchresults.U_VIEW_POST}">{searchresults.POST_SUBJECT}</a></h3>
			<div class="content">{searchresults.MESSAGE}</div>
		</div>

		<dl class="postprofile">
			<dt class="author">{L_POST_BY_AUTHOR} {searchresults.POST_AUTHOR_FULL}</dt>
			<dd>{searchresults.POST_DATE}</dd>
			<dd>&nbsp;</dd>
			<!-- IF searchresults.FORUM_TITLE -->
				<dd>{L_FORUM}: <a href="{searchresults.U_VIEW_FORUM}">{searchresults.FORUM_TITLE}</a></dd>
				<dd>{L_TOPIC}: <a href="{searchresults.U_VIEW_TOPIC}">{searchresults.TOPIC_TITLE}</a></dd>
			<!-- ELSE -->
				<dd>{L_GLOBAL}: <a href="{searchresults.U_VIEW_TOPIC}">{searchresults.TOPIC_TITLE}</a></dd>
			<!-- ENDIF -->
			<dd>{L_REPLIES}: <strong>{searchresults.TOPIC_REPLIES}</strong></dd>
			<dd>{L_VIEWS}: <strong>{searchresults.TOPIC_VIEWS}</strong></dd>
		</dl>
	<!-- ENDIF -->

	<!-- IF not searchresults.S_IGNORE_POST -->
		<ul class="searchresults">
			<li ><a href="{searchresults.U_VIEW_POST}" class="{S_CONTENT_FLOW_END}">{L_JUMP_TO_POST}</a></li>
		</ul>
	<!-- ENDIF -->

			<span class="corners-bottom"><span></span></span></div>
		</div>
	<!-- BEGINELSE -->
		<div class="panel">
			<div class="inner"><span class="corners-top"><span></span></span>
			<strong>{L_NO_SEARCH_RESULTS}</strong>
			<span class="corners-bottom"><span></span></span></div>
		</div>
	<!-- END searchresults -->
<!-- ENDIF -->

<!-- IF PAGINATION or .searchresults or S_SELECT_SORT_KEY or S_SELECT_SORT_DAYS -->
	<form method="post" action="{S_SEARCH_ACTION}">

	<fieldset class="display-options">
		<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
		<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
		<!-- IF S_SELECT_SORT_DAYS or S_SELECT_SORT_KEY -->
			<label><!-- IF S_SHOW_TOPICS -->{L_DISPLAY_POSTS}<!-- ELSE -->{L_SORT_BY}</label><label><!-- ENDIF --> {S_SELECT_SORT_DAYS}<!-- IF S_SELECT_SORT_KEY --></label> <label>{S_SELECT_SORT_KEY}</label>
			<label>{S_SELECT_SORT_DIR}<!-- ENDIF --> <input type="submit" name="sort" value="{L_GO}" class="button2" /></label>
		<!-- ENDIF -->
	</fieldset>

	</form>

	<hr />
<!-- ENDIF -->

<!-- IF PAGINATION or .searchresults or PAGE_NUMBER -->
	<ul class="linklist">
		<li class="rightside pagination">
			{SEARCH_MATCHES}<!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF -->
		</li>
	</ul>
<!-- ENDIF -->

<!-- INCLUDE jumpbox.html -->

<!-- INCLUDE overall_footer.html -->
