	</div>

	<div class="copyright">{CREDIT_LINE}
		<br /><a href="http://www.ppkbb3cker.ru/">ppkBB3cker</a> v.2.5 &copy; 2008-2021 @ <a href="http://protoneutron.narod.ru/">PPK</a> | Icon Theme by Everaldo.com Design Studio
		<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
		<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
	</div>
</div>

</body>
</html>
