<!-- INCLUDE overall_header.html -->
<h2>{L_TRACKER_TOP}</h2>
<!-- IF TOP_BY_UPLOAD -->
<div class="panel bg1 font-normal">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h3>{L_TOP_BY_UPLOAD}</h3>
	<table width="100%" cellpadding="3" cellspacing="1" border="0" class="table1">
	<tr class="bg2">
		<td style="width:30px;">#</td>
		<td><b>{L_USERNAME}</b></td>
		<td align="center"><b>{L_TORRENT_INFO_HEADER_UPLOADED}</b></td>
		<td align="center"><b>{L_TORRENT_INFO_HEADER_DOWNLOADED}</b></td>
		<!-- IF S_TINFO_BONUS1 --><td align="center"><b>{L_TRACKER_USER_BONUS1}</b></td><!-- ENDIF -->
		<td align="center"><b>{L_TORRENT_INFO_HEADER_RATIO}</b></td>
		<td align="center"><b>{L_TRACKER_USER_RRATIO}</b></td>
	</tr>

	<!-- BEGIN top_by_upload -->
	<!-- IF top_by_upload.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
		<td align="center">&nbsp;{top_by_upload.ROW_NUMBER}&nbsp;</td>
		<td>{top_by_upload.USERNAME}</td>
		<td align="center">{top_by_upload.UP}</td>
		<td align="center">{top_by_upload.DOWN}</td>
		<!-- IF S_TINFO_BONUS1 --><td align="center">{top_by_upload.BONUS1}</td><!-- ENDIF -->
		<td align="center">{top_by_upload.UP_DOWN_RATIO}</td>
		<td align="center">{top_by_upload.UP_DOWN_RRATIO}</td>
	</tr>
	<!-- END top_by_upload -->
	</table>

	<!-- IF not .top_by_upload -->
		<div style="text-align:center;">{L_NO_DATA}</div>
	<!-- ENDIF -->
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<!-- IF TOP_BY_RATIO -->
<div class="panel bg1 font-normal">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h3>{L_TOP_BY_RATIO}</h3>
	<table width="100%" cellpadding="3" cellspacing="1" border="0" class="table1">
	<tr class="bg2">
		<td style="width:30px;">#</td>
		<td><b>{L_USERNAME}</b></td>
		<td align="center"><b>{L_TORRENT_INFO_HEADER_UPLOADED}</b></td>
		<td align="center"><b>{L_TORRENT_INFO_HEADER_DOWNLOADED}</b></td>
		<!-- IF S_TINFO_BONUS1 --><td align="center"><b>{L_TRACKER_USER_BONUS1}</b></td><!-- ENDIF -->
		<td align="center"><b>{L_TORRENT_INFO_HEADER_RATIO}</b></td>
		<td align="center"><b>{L_TRACKER_USER_RRATIO}</b></td>
	</tr>

	<!-- BEGIN top_by_ratio -->
	<!-- IF top_by_ratio.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
		<td align="center">&nbsp;{top_by_ratio.ROW_NUMBER}&nbsp;</td>
		<td>{top_by_ratio.USERNAME}</td>
		<td align="center">{top_by_ratio.UP}</td>
		<td align="center">{top_by_ratio.DOWN}</td>
		<!-- IF S_TINFO_BONUS1 --><td align="center">{top_by_ratio.BONUS1}</td><!-- ENDIF -->
		<td align="center">{top_by_ratio.UP_DOWN_RATIO}</td>
		<td align="center">{top_by_ratio.UP_DOWN_RRATIO}</td>
	</tr>
	<!-- END top_by_ratio -->
	</table>

	<!-- IF not .top_by_ratio -->
		<div style="text-align:center;">{L_NO_DATA}</div>
	<!-- ENDIF -->
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<!-- IF TOP_BY_DOWNSUM -->
<div class="panel bg1 font-normal">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h3>{L_TOP_BY_DOWNSUM}</h3>
	<table width="100%" cellpadding="3" cellspacing="1" border="0" class="table1">
	<tr class="bg2">
		<td style="width:30px;">#</td>
		<td><b>{L_USERNAME}</b></td>
		<td><b>{L_JOINED}</b></td>
		<td align="center"><b>{L_TRACKER_USER_TORRENTS}</b></td>
		<td align="center"><b>{L_TORRENT_COMPLETED}</b></td>
		<td align="center"><b>{L_TRACKER_AVG}</b></td>
	</tr>

	<!-- BEGIN top_by_downsum -->
	<!-- IF top_by_downsum.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
		<td align="center">&nbsp;{top_by_downsum.ROW_NUMBER}&nbsp;</td>
		<td>{top_by_downsum.USERNAME}</td>
		<td>{top_by_downsum.JOINED}</td>
		<td align="center">{top_by_downsum.RELEASES}</td>
		<td align="center">{top_by_downsum.DL_COUNT}</td>
		<td align="center">{top_by_downsum.DL_AVG}</td>
	</tr>
	<!-- END top_by_downsum -->
	</table>

	<!-- IF not .top_by_downsum -->
		<div style="text-align:center;">{L_NO_DATA}</div>
	<!-- ENDIF -->
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->
<!-- IF TOP_BY_AUTHOR -->
<div class="panel bg1 font-normal">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h3>{L_TOP_BY_AUTHOR}</h3>
	<table width="100%" cellpadding="3" cellspacing="1" border="0" class="table1">
	<tr class="bg2">
		<td style="width:30px;">#</td>
		<td><b>{L_USERNAME}</b></td>
		<td><b>{L_JOINED}</b></td>
		<td align="center"><b>{L_TRACKER_USER_TORRENTS}</b></td>
		<td align="center"><b>{L_TORRENT_COMPLETED}</b></td>
	</tr>

	<!-- BEGIN top_by_author -->
	<!-- IF top_by_author.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
		<td align="center">&nbsp;{top_by_author.ROW_NUMBER}&nbsp;</td>
		<td>{top_by_author.USERNAME}</td>
		<td>{top_by_author.JOINED}</td>
		<td align="center">{top_by_author.RELEASES}</td>
		<td align="center">{top_by_author.DL_COUNT}</td>
	</tr>
	<!-- END top_by_author -->
	</table>

	<!-- IF not .top_by_author -->
		<div style="text-align:center;">{L_NO_DATA}</div>
	<!-- ENDIF -->
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<!-- IF TOP_BY_TORRENTS -->
<a name="bt"></a>
<div class="panel bg1 font-normal">
	<div class="inner"><span class="corners-top"><span></span></span>

	<table width="100%" cellspacing="1">
		<tr>
			<td><h3>{L_TOP_BY_TORRENTS}</h3></td><td align="right"><strong>{L_TOP_BY}:</strong> <a href="{U_TOP_WEEK}#bt">{L_TOP_WEEK}</a> <a href="{U_TOP_MONTH}#bt">{L_TOP_MONTH}</a> <a href="{U_TOP_ALL}#bt">{L_TOP_ALL}</a></td>
		</tr>
	</table>
	<table width="100%" cellpadding="3" cellspacing="1" border="0" class="table1">
	<tr class="bg2">
		<td style="width:30px;">#</td>
		<td><b>{L_AUTHOR}</b></td>
		<td><b>{L_TOPIC}</b></td>
		<td><b>{L_FORUM}</b></td>
		<td align="center"><b>{L_TORRENT_COMPLETED}</b></td>
		<td><b>{L_TORRENT_ADDED}</b></td>
	</tr>

	<!-- BEGIN top_by_torrents -->
	<!-- IF top_by_torrents.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
		<td align="center">&nbsp;{top_by_torrents.ROW_NUMBER}&nbsp;</td>
		<td>{top_by_torrents.USERNAME}</td>
		<td align="left"><a href="{top_by_torrents.TOPIC_HREF}">{top_by_torrents.TOPIC_TITLE}</a></td>
		<td><a href="{top_by_torrents.FORUM_HREF}">{top_by_torrents.FORUM_NAME}</a></td>
		<td align="center">{top_by_torrents.COMPLETE_COUNT}</td>
		<td>{top_by_torrents.REG_TIME}</td>
	</tr>
	<!-- END top_by_torrents -->
	</table>

	<!-- IF not .top_by_torrents -->
		<div style="text-align:center;">{L_NO_DATA}</div>
	<!-- ENDIF -->
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<!-- IF TOP_BY_THANKS -->
<a name="bth"></a>
<div class="panel bg1 font-normal">
	<div class="inner"><span class="corners-top"><span></span></span>

	<table width="100%" cellspacing="1">
		<tr>
			<td><h3>{L_TOP_BY_THANKS}</h3></td><td align="right"><strong>{L_TOP_BY}:</strong> <a href="{U_TOP_WEEK}#bth">{L_TOP_WEEK}</a> <a href="{U_TOP_MONTH}#bth">{L_TOP_MONTH}</a> <a href="{U_TOP_ALL}#bth">{L_TOP_ALL}</a></td>
		</tr>
	</table>
	<table width="100%" cellpadding="3" cellspacing="1" border="0" class="table1">
		<tr class="bg2">
			<td style="width:30px;">#</td>
			<td align="left"><b>{L_AUTHOR}</b></td>
			<td align="left"><b>{L_TOPIC}</b></td>
			<td align="left"><b>{L_FORUM}</b></td>
			<td align="center"><b>{L_TORRENT_THANKS}</b></td>
			<td align="left"><b>{L_TORRENT_ADDED}</b></td>
		</tr>
		<!-- BEGIN top_by_thanks -->
		<!-- IF top_by_thanks.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
			<td align="center">&nbsp;{top_by_thanks.ROW_NUMBER}&nbsp;</td>
			<td>{top_by_thanks.USERNAME}</td>
			<td align="left"><a href="{top_by_thanks.TOPIC_HREF}">{top_by_thanks.TOPIC_TITLE}</a></td>
			<td><a href="{top_by_thanks.FORUM_HREF}">{top_by_thanks.FORUM_NAME}</a></td>
			<td align="center">{top_by_thanks.THANKS_COUNT}</td>
			<td>{top_by_thanks.REG_TIME}</td>
		</tr>
		<!-- END top_by_thanks -->
	</table>
	<!-- IF not .top_by_thanks -->
		<div style="text-align:center;">{L_NO_DATA}</div>
	<!-- ENDIF -->
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
