<!-- INCLUDE ucp_header.html -->
<h2>{L_TITLE}</h2>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<fieldset>
<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
	<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
	<dl>
		<dt><label>{L_RECREATE_PASSKEY}: </label><br />{L_RECREATE_PASSKEY_EXPLAIN}</dt>
		<dd class="passkey">
			<label><input type="checkbox" name="recreate_passkey" value="1" /></label>
			<!-- IF TRACKER_USER_PASSKEY --><br />{L_CURRENT_USER_PASSKEY}: <span class="hidden_passkey" style="display:none;"><b>{TRACKER_USER_PASSKEY}</b></span> <span class="my_tt show_passkey">{L_SHOW_ONCLICK}</span><!-- ENDIF -->
		</dd>
	</dl>
	<dl>
		<dt><label>{L_CLEAR_TRIGHTS}: </label><br />{L_CLEAR_TRIGHTS_EXPLAIN}</dt>
		<dd>
			<label><input type="checkbox" name="clear_trights" value="1" /></label>
		</dd>
	</dl>
	<dl>
		<dt><label>{L_CLEAR_PEERS}: </label><br />{L_CLEAR_PEERS_EXPLAIN}</dt>
		<dd>
			<select name="clear_peers">
				<option value="0">{L_NO}</option>
				<option value="time">{L_CLEAR_PEERS_TIME}</option>
				<option value="all">{L_CLEAR_PEERS_ALL}</option>
			</select>
		</dd>
	</dl>
<!-- IF S_TRBONUS1_ENABLED -->
	<dl>
		<dt><label>{L_COLLECT_TBONUS}: </label><br />{L_COLLECT_TBONUS_EXPLAIN}</dt>
		<dd>
			<label><input type="checkbox" name="collect_tbonus" value="1" /></label>
		</dd>
	</dl>
<!-- ENDIF -->
	<dl>
		<dt><label>{L_USER_TBONUS_RESET}: </label><br />{L_USER_TBONUS_RESET_EXPLAIN}</dt>
		<dd>
			<label><input type="checkbox" name="reset_bonus" value="1" /></label>
		</dd>
	</dl>
<!-- IF S_UNREGTORR_ENABLED -->
	<dl>
		<dt><label>{L_UNREGTORR}: </label><br />{L_UNREGTORR_EXPLAIN}</dt>
		<dd class="passkey">
			{S_UNREGTORR_ENABLED}
		</dd>
	</dl>
<!-- ENDIF -->
	<dl>
		<dt><label>{L_UTO_PORTAL}: </label><br />{L_UTO_PORTAL_EXPLAIN}</dt>
		<dd>
			<label><input class="radio" type="checkbox" name="uto_portal" value="1"<!-- IF S_UTO_PORTAL --> checked="checked"<!-- ENDIF --> /></label>
		</dd>
	</dl>
	<dl>
		<dt><label>{L_UTO_CHAT}: </label><br />{L_UTO_CHAT_EXPLAIN}</dt>
		<dd>
			<label><input class="radio" type="checkbox" name="uto_chat" value="1"<!-- IF S_UTO_CHAT --> checked="checked"<!-- ENDIF --> /></label>
		</dd>
	</dl>
	<dl>
		<dt><label><!-- IF S_TDT_TYPE -->{L_UTO_TDT}<!-- ELSE -->{L_UTO_TDT2}<!-- ENDIF -->: </label><br /><!-- IF S_TDT_TYPE -->{L_UTO_TDT_EXPLAIN}<!-- ELSE -->{L_UTO_TDT2_EXPLAIN}<!-- ENDIF --></dt>
		<dd>
			<label><input class="radio" type="checkbox" name="uto_tdt" value="1"<!-- IF S_UTO_TDT --> checked="checked"<!-- ENDIF --> /></label>
		</dd>
	</dl>
	</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>
<fieldset class="submit-buttons">
	{S_HIDDEN_FIELDS}<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
	<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
	{S_FORM_TOKEN}
</fieldset>
</form>
<!-- INCLUDE ucp_footer.html -->
