{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{$IMAGE_SRC}" width="{$IMAGE_WIDTH}" height="{$IMAGE_HEIGHT}" alt="" />&nbsp;<!-- ENDIF -->{$TITLE}{$LR_BLOCK_H_R}
{TOTAL_SIZE} &bull; {TOTAL_TORRENTS} &bull; {TOTAL_COMMENTS} &bull; {TOTAL_PEERS} &bull; {TOTAL_SEED} &bull; {TOTAL_LEECH}
<br />{TOTAL_UP} &bull; {TOTAL_DOWN} &bull; {TOTAL_SUP} &bull; {TOTAL_SDOWN}
<br />{TOTAL_TDOWN} &bull; {TOTAL_TUP} &bull; {TOTAL_UDOWN} &bull; {TOTAL_UUP}
<br />{TOTAL_SPEEDUP} &bull; {TOTAL_SPEEDDOWN}
<!-- IF S_TINFO_THANKS --><br />{TOTAL_THANKS}<!-- ENDIF -->
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}
