<!-- You should retain this javascript in your own template! -->

<!-- IF S_IN_SEARCH_POPUP -->
	<script type="text/javascript">
	// <![CDATA[
		function insert_user(user)
		{
			opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value = ( opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value.length && opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.type == "textarea" ) ? opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value + "\n" + user : user;
		}

		function insert_marked(users)
		{
			if (typeof(users.length) == "undefined")
			{
				if (users.checked)
				{
					insert_user(users.value);
				}
			}
			else if (users.length > 0)
			{
				for (i = 0; i < users.length; i++)
				{
					if (users[i].checked)
					{
						insert_user(users[i].value);
					}
				}
			}

			self.close();
		}

		function insert_single(user)
		{
			opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value = user;
			self.close();
		}

		/**
		* Mark/unmark checklist
		* id = ID of parent container, name = name prefix, state = state [true/false]
		*/
		function marklist(id, name, state)
		{
			var parent = document.getElementById(id);
			if (!parent)
			{
				eval('parent = document.' + id);
			}

			if (!parent)
			{
				return;
			}

			var rb = parent.getElementsByTagName('input');

			
			for (var r = 0; r < rb.length; r++)
			{
				if (rb[r].name.substr(0, name.length) == name)
				{
					rb[r].checked = state;
				}
			}
		}
	// ]]>
	</script>
<!-- ENDIF -->

<form method="post" action="{S_MODE_ACTION}" name="search">

<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th colspan="4">{L_FIND_USERNAME}</th>
</tr>
<tr>
	<td class="row3" colspan="4"><span class="gensmall">{L_FIND_USERNAME_EXPLAIN}</span></td>
</tr>
<tr>
	<td class="row1"><b class="genmed">{L_USERNAME}:</b></td>
	<td class="row2"><input class="post" type="text" name="username" value="{USERNAME}" /></td>
	<td class="row1"><b class="genmed">{L_ICQ}:</b></td>
	<td class="row2"><input class="post" type="text" name="icq" value="{ICQ}" /></td>
</tr>
<tr>
<!-- IF S_EMAIL_SEARCH_ALLOWED -->
	<td class="row1"><b class="genmed">{L_EMAIL}:</b></td>
	<td class="row2"><input class="post" type="text" name="email" value="{EMAIL}" /></td>
<!-- ELSE -->
	<td colspan="2" class="row1">&nbsp;</td>
<!-- ENDIF -->
	<td class="row1"><b class="genmed">{L_AIM}:</b></td>
	<td class="row2"><input class="post" type="text" name="aim" value="{AIM}" /></td>
</tr>
<tr>
	<td class="row1"><b class="genmed">{L_JOINED}:</b></td>
	<td class="row2"><select name="joined_select">{S_JOINED_TIME_OPTIONS}</select> <input class="post" type="text" name="joined" value="{JOINED}" /></td>
	<td class="row1"><b class="genmed">{L_YIM}:</b></td>
	<td class="row2"><input class="post" type="text" name="yahoo" value="{YAHOO}" /></td>
</tr>
<tr>
<!-- IF S_VIEWONLINE -->
	<td class="row1"><b class="genmed">{L_LAST_ACTIVE}:</b></td>
	<td class="row2"><select name="active_select">{S_ACTIVE_TIME_OPTIONS}</select> <input class="post" type="text" name="active" value="{ACTIVE}" /></td>
<!-- ELSE -->
	<td colspan="2" class="row1">&nbsp;</td>
<!-- ENDIF -->
	<td class="row1"><b class="genmed">{L_MSNM}:</b></td>
	<td class="row2"><input class="post" type="text" name="msn" value="{MSNM}" /></td>
</tr>
<tr>
	<td class="row1"><b class="genmed">{L_POSTS}:</b></td>
	<td class="row2"><select name="count_select">{S_COUNT_OPTIONS}</select> <input class="post" type="text" name="count" value="{COUNT}" /></td>
	<td class="row1"><b class="genmed">{L_JABBER}:</b></td>
	<td class="row2"><input class="post" type="text" name="jabber" value="{JABBER}" /></td>
</tr>
<tr>
	<td class="row1"><b class="genmed">{L_SORT_BY}:</b></td>
	<td class="row2" nowrap="nowrap"><select name="sk">{S_SORT_OPTIONS}</select> <select name="sd">{S_ORDER_SELECT}</select>&nbsp;</td>
<!-- IF S_IP_SEARCH_ALLOWED -->
	<td class="row1"><b class="genmed">{L_POST_IP}:</b></td>
	<td class="row2"><select name="ip_select">{S_IP_OPTIONS}</select> <input class="post" type="text" name="ip" value="{IP}" /></td>
</tr>
<tr>
	<td class="row1"><b class="genmed">{L_GROUP}:</b></td>
	<td class="row2" nowrap="nowrap"><select name="search_group_id">{S_GROUP_SELECT}</select></td>
	<td class="row1">&nbsp;</td>
	<td class="row2">&nbsp;</td>
</tr>
<!-- ELSE -->
	<td class="row1"><b class="genmed">{L_GROUP}:</b></td>
	<td class="row2" nowrap="nowrap"><select name="search_group_id">{S_GROUP_SELECT}</select></td>
</tr>
<!-- ENDIF -->
<tr>
	<td class="row1"><b class="genmed">{L_TRACKER_USER_RATIO}:</b> ({L_TRACKER_RATIO_ANNOT})</td>
	<td class="row2"><select name="ratio_select">{S_RATIO_OPTIONS}</select> <input class="post" type="text" name="ratio" value="{RATIO}" /></td>
	<td class="row1"><b class="genmed">{L_TRACKER_USER_UPLOAD}:</b></td>
	<td class="row2"><select name="up_select">{S_UP_OPTIONS}</select> <input class="post" type="text" name="up" value="{UP}" />&nbsp;<select name="upv">{UPV}</select></td>
</tr>
<tr>
	<td class="row1"><!-- IF S_TINFO_BONUS1 --><b class="genmed">{L_TRACKER_USER_BONUS1}:</b><!-- ENDIF --></td>
	<td class="row2"><!-- IF S_TINFO_BONUS1 --><select name="bonus_select">{S_BONUS_OPTIONS}</select> <input class="post" type="text" name="bonus" value="{BONUS}" /><!-- ENDIF --></td>
	<td class="row1"><b class="genmed">{L_TRACKER_USER_DOWNLOAD}:</b></td>
	<td class="row2"><select name="down_select">{S_DOWN_OPTIONS}</select> <input class="post" type="text" name="down" value="{DOWN}" />&nbsp;<select name="downv">{DOWNV}</select></td>
</tr>
<tr>
	<td class="row1"><!-- IF S_TINFO_TORRENTS --><b class="genmed">{L_TRACKER_USER_TORRENTS}:</b><!-- ENDIF --></td>
	<td class="row2"><!-- IF S_TINFO_TORRENTS --><select name="torrents_select">{S_TORRENTS_OPTIONS}</select> <input class="post" type="text" name="torrents" value="{TORRENTS}" /><!-- ENDIF --></td>
	<td class="row1"><!-- IF S_TINFO_COMMENTS --><b class="genmed">{L_TRACKER_USER_COMMENTS}:</b><!-- ENDIF --></td>
	<td class="row2"><!-- IF S_TINFO_COMMENTS --><select name="comments_select">{S_COMMENTS_OPTIONS}</select> <input class="post" type="text" name="comments" value="{COMMENTS}" /><!-- ENDIF --></td>
</tr>
<tr>
	<td class="cat" colspan="4" align="center"><input class="btnmain" type="submit" name="submit" value="{L_SEARCH}" />&nbsp;&nbsp;<input class="btnlite" type="reset" value="{L_RESET}" /></td>
</tr>
</table>
{S_FORM_TOKEN}
</form>

<br clear="all" />
