
</div>

<div id="wrapfooter">
	<span class="copyright">{CREDIT_LINE}
		<br /><a href="http://www.ppkbb3cker.ru/">ppkBB3cker</a> v.2.5 &copy; 2008-2021 @ <a href="http://protoneutron.narod.ru/">PPK</a> | Icon Theme by Everaldo.com Design Studio</span>
</div>

</body>
</html>
