<!-- INCLUDE ucp_header.html -->

<script type="text/javascript">
// <![CDATA[

/**
* Mark/unmark checkboxes
* id = ID of parent container, name = name prefix, state = state [true/false]
*/
function marklist(id, name, state)
{
	var parent = document.getElementById(id);
	if (!parent)
	{
		eval('parent = document.' + id);
	}

	if (!parent)
	{
		return;
	}

	var rb = parent.getElementsByTagName('input');

	for (var r = 0; r < rb.length; r++)
	{
		if (rb[r].name.substr(0, name.length) == name)
		{
			rb[r].checked = state;
		}
	}
}

// ]]>
</script>

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th colspan="3" valign="middle">{L_TITLE}</th>
	</tr>
	<!-- IF ERROR -->
	<tr>
		<td class="row3" colspan="3" align="center"><span class="gensmall error">{ERROR}</span></td>
	</tr>
	<!-- ENDIF -->
	<!-- IF S_VIEW_RTRACK or S_NEW_RTRACK -->
	<tr>
		<td class="row3" colspan="3"><span>{L_ZONE_RTRACK_EXPLAIN}</span></td>
	</tr>
	<!-- IF S_VIEW_RTRACK -->
	<tr>
		<td class="row2" colspan="3" align="center">
			<input class="btnlite" type="submit" name="add_new" value="{L_ADD}" />
		</td>
	</tr>
	<!-- ENDIF -->
	<!-- IF .rtracks or S_NEW_RTRACK -->
	<tr>
		<th>{L_ZONE_RTRACK_URL}</td>
		<th>{L_ENABLED} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('ucp', 'rtrack_enabled', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('ucp', 'rtrack_enabled', false); return false;">-</a>]</th>
		<th><!-- IF S_VIEW_RTRACK -->{L_DELETE} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('ucp', 'rtrack_delete', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('ucp', 'rtrack_delete', false); return false;">-</a>]<!-- ELSE -->{L_ADD}<!-- ENDIF --></th>
	</tr>
	<!-- ENDIF -->
	<!-- BEGIN rtracks -->
	<!-- IF rtracks.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
		<td><input type="text" class="post" name="rtrack_url[{rtracks.COUNT}]" size="40" value="{rtracks.URL}" title="" /><input type="hidden" name="rtrack_id[{rtracks.COUNT}]" value="{rtracks.COUNT}" /></td>
		<td style="text-align:center;">
			<input class="radio" type="checkbox" name="rtrack_enabled[{rtracks.COUNT}]" value="1"{rtracks.ENABLED} />
		</td>
		<td style="text-align:center;">
			<!-- IF rtracks.URL -->
			<input class="radio" type="checkbox" name="rtrack_delete[{rtracks.COUNT}]" value="1" />
			<!-- ENDIF -->
		</td>
	</tr>
	<!-- END rtracks -->
	<!-- ELSE -->
	<tr>
		<td colspan="3"><span class="gensmall error">{L_RTRACK_DISABLED}</span>
		</td>
	</tr>
	<!-- ENDIF -->
	<!-- IF (S_VIEW_RTRACK or S_NEW_RTRACK) and .rtracks -->
	<tr>
		<td class="cat" colspan="3" align="center">{S_HIDDEN_FIELD}{S_HIDDEN_FIELDS}<input class="btnmain" type="submit" name="submit" value="{L_SUBMIT}" />&nbsp;&nbsp;<input class="btnlite" type="reset" value="{L_RESET}" name="reset" />
	{S_FORM_TOKEN}</td>
	</tr>
	<!-- ENDIF -->
</table>
</form>
<!-- INCLUDE ucp_footer.html -->
